<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button nz-button
              (click)="downloadDivAsJPG($event)"
              nzType="default">
        <i nz-icon
           nzType="download"
           nzTheme="outline"></i>JPG
      </button>
      <button nz-button
              (click)="regenerateContent($event)"
              nzType="primary">
        <i nz-icon
           nzType="sync"
           nzTheme="outline"></i>Refresh
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button nz-button
              (click)="downloadDivCsv($event)"
              nzType="default">
        <i nz-icon
           nzType="file-excel"
           nzTheme="outline"></i>.CSV
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <nz-collapse-panel nzHeader="Geography"
                           [nzShowArrow]="false"
                           [nzActive]="true">
          <!-- MAP -->
          <nz-card class="cbn-card-sm no-body-padding"
                   [class.expanded]="expanded_map"
                   nzTitle=""
                   #mapCard>
            <nz-tabset (nzSelectChange)="tabChanged($event)">
              <nz-tab nzTitle="Risks"
                      [attr.klass]="OfferDistributionHeatmap">
                <ng-container *ngIf="activeKlass === 'OfferDistributionHeatmap'">
                  <app-gmap #OfferDistributionHeatmap
                            klass="OfferDistributionHeatmap"
                            [activeKey]="activeKey"></app-gmap>
                </ng-container>
              </nz-tab>
              <nz-tab nzTitle="Clients"
                      [attr.klass]="ClientDistributionHeatmap">
                <ng-container *ngIf="activeKlass === 'ClientDistributionHeatmap'">
                  <app-gmap #ClientDistributionHeatmap
                            klass="ClientDistributionHeatmap"
                            [activeKey]="activeKey"></app-gmap>
                </ng-container>
              </nz-tab>
              <nz-tab *ngIf="false"
                      nzTitle="Experimental"
                      [attr.klass]="ExperimentalHeatmap">
                <ng-container *ngIf="activeKlass === 'ExperimentalHeatmap'">
                  <app-gmap #ExperimentalHeatmap
                            klass="ExperimentalHeatmap"
                            [activeKey]="activeKey"></app-gmap>
                  <!-- <mgl-map [style]="'mapbox://styles/mapbox/dark-v9'"
                           [zoom]="[3]"
                           [center]="[-77.38, 39]">
                  </mgl-map> -->
                </ng-container>
              </nz-tab>
            </nz-tabset>
          </nz-card>
          <ng-template #extraCheckboxTemplate>
            <!-- <app-checkbox klass="interactiveSearchCheckbox" text="Search as I move the map"></app-checkbox> -->
            <button nz-button
                    class="expand-card"
                    nzType="primary"
                    nzSize="small"
                    (click)="toggleExpandedCard()">
              <i nzType="shrink"
                 nzTheme="outline"
                 nz-icon
                 #toggleEnlargedButtonIcon></i>
            </button>
          </ng-template>

          <nz-card [nzExtra]="csvDownloadTemplate"
                   nzTitle="LoB vs. TSI"
                   class="cbn-card-lg w-100p table">
            <app-histogram-table-chart emptyishInfoNotice="Select a map section and click refresh."
                                       klass="noquery"
                                       _underlyingCsvInput="{{ _underlying_data_shareable }}"
                                       _csvInput="{{ _current_csv_value_shareable }}"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>

      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>