@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

::ng-deep .ant-modal-body {
  max-height: 70vh;
  overflow-y: auto;
  @include scrollShadows();
}

span.eta {
  color: #BBB;
  position: absolute;
  right: 24px;
  transition: all .3s;
}

label.ant-radio-wrapper-checked+span.eta {
  color: $blue;
}

.csv-column-collapse {
  .filterColumnNames {
    margin-bottom: 12px;
  }

  ::ng-deep .ant-collapse-header {
    font-size: 14px;
    user-select: none;
  }

  .check-all-wrapper {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 8px;
  }

  ::ng-deep nz-checkbox-group {
    user-select: none;

    width: 100%;
    overflow-y: auto;
    max-height: 300px;

    label.ant-checkbox-wrapper {

      &:nth-child(1),
      &:nth-child(294) {
        &:before {
          content: '';
          display: block;
          font-weight: 600;
          font-size: 1.1em;
          padding-bottom: 2px;
          border-bottom: 1px solid #EEE;
          margin-bottom: 4px;
        }
      }

      &:nth-child(1) {
        &:before {
          content: 'LoB';
        }
      }

      &:nth-child(294) {
        &:before {
          content: 'Offer';
          margin-top: 16px;
        }
      }

      display: block;
      margin-left: 0 !important;
      margin-bottom: 8px;

      .ant-checkbox {
        display: inline-block;
      }
    }
  }
}

.search-input {
  width: 50%;
  margin-left: 8px;
}