<button
  id="download_csv"
  nz-button
  (click)="showModal()"
>
  <i
    nz-icon
    nzType="file-excel"
    nzTheme="outline"
  ></i>
  &nbsp;Download raw .CSV
</button>

<nz-modal
  [nzStyle]="{ width: '630px' }"
  [(nzVisible)]="isVisible"
  nzTitle="Download Line-of-Business Rows"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleDownload()"
  [nzOkLoading]="isDownloading"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <p><b>How many rows</b> would you like to retrieve?</p>
    <nz-select
      style="width: 100%; min-width: 200px"
      nzMode="default"
      nzSize="large"
      [nzShowSearch]="false"
      [(ngModel)]="size"
    >
      <nz-option
        *ngFor="let option of sizeList"
        [nzLabel]="option.row_size"
        [nzValue]="option.row_size"
      ></nz-option>
    </nz-select>

    <br><br>

    <p>Specify the <b>column names</b>?</p>
    <div class="csv-column-collapse">
      <div class="check-all-wrapper">
        <label
          nz-checkbox
          [(ngModel)]="allColumnsChecked"
          (ngModelChange)="updateAllCheckedcCsvColumns()"
          [nzIndeterminate]="indeterminateColumns"
        >
          Select all
        </label>
        <nz-input-group
          [nzSuffix]="inputClearTpl"
          class="search-input"
        >
          <input
            nz-input
            [ngModel]="search$ | async"
            (ngModelChange)="search$.next($event)"
            placeholder="Search..."
          />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span
            *ngIf="search$ | async"
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            (click)="search$.next('')"
          ></span>
        </ng-template>
      </div>
      <nz-checkbox-group
        [ngModel]="csvColumnsModel$ | async"
        (ngModelChange)="updateSingleCheckedCsvColumns($event)"
      ></nz-checkbox-group>

    </div>
    <br>

    <nz-alert
      style="margin-top: 20px"
      *ngIf="hasFailed"
      nzType="error"
      nzMessage="The export count not execute successfully. Please try again and if this warning persists, please contact the system administrator."
      nzShowIcon
    ></nz-alert>
  </ng-container>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="default"
      nzSize="large"
      (click)="handleCancel()"
    >Cancel</button>
    <button
      nz-button
      nzSize="large"
      nzType="primary"
      (click)="handleDownload()"
      [nzLoading]="isDownloading"
    >&nbsp;&nbsp;Go!&nbsp;&nbsp;</button>
  </ng-template>
</nz-modal>