<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <!-- By Risk Code -->
        <nz-collapse-panel
        nzHeader="ESG"
        [nzShowArrow]="true"
        [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By Risk Code"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="ESG_AggregatedPremiumsVsTotalSumInsuredPerRiskCriteriaAndRiskCode_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By NACE Code"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="ESG_AggregatedPremiumsVsTotalSumInsuredPerRiskCriteriaAndNaceCode_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By Occupancy"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="ESG_AggregatedPremiumsVsTotalSumInsuredPerRiskCriteriaAndOccupancy_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <nz-collapse-panel
        nzHeader="CO₂"
        [nzShowArrow]="true"
        [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Occupancy"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="ESG_AggregatedEmissionsPerOccupancy_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Nace Code"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="ESG_AggregatedEmissionsPerNaceCode_histogram_chart" >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>


      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>

<app-collapse-all-panels-btn (doClosePanelsEvent)="closeAllPanels($event)"></app-collapse-all-panels-btn>
