<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <!-- Industry -->
        <nz-collapse-panel
          nzHeader="Industry"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prem / SumInsured Ratio of Sums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedPremiumsVsTotalSumInsuredPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations (Addresses)"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsCountPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- BA -->
        <nz-collapse-panel
          nzHeader="Business Activity"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Global Analytics per Business Activity"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a 'Line of Business' first.<br>🚨  Do NOT run this without a selected LoB."
              klass="PPM_GlobalStatsPerBusinessActivity_NoCanvas_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalPremiumPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalOffersPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalSumInsuredPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prem / SumInsured Ratio of Sums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedPremiumsVsTotalSumInsuredPerBusinessActivity_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedLocationsPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Nace -->
        <nz-collapse-panel
          nzHeader="Nace Codes"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Global Analytics per NACE code"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart klass="PPM_GlobalStatsPerNaceCode_NoCanvas_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalOffersPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Turnover -->
        <nz-collapse-panel
          nzHeader="Turnover"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed Premium"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsPremium_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed TSI"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsTSI_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed Offers Count"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsCount_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Region of Origin -->
        <nz-collapse-panel
          nzHeader="Region of origin"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <!-- <nz-card [nzExtra]="csvDownloadTemplate" nzTitle="Locations (Addresses)" class="cbn-card-lg w-100p table">
            <app-histogram-table-chart
              klass="AggregatedLocationsCountPerRegionOfOrigin_histogram_chart"
            ></app-histogram-table-chart>
          </nz-card> -->
        </nz-collapse-panel>

        <!-- Sales Partner -->
        <nz-collapse-panel
          nzHeader="Sales Partners"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations (Addresses)"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsCountPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Risks & Perils -->
        <nz-collapse-panel
          nzHeader="Peril vs. Risk Classes (RCs)"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Peril-specific mPremiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril & Class."
              klass="AggregatedTotalPremiumPerAvgRiskClassPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Unique Peril IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril & Class."
              klass="AggregatedLOBCountPerAvgRiskClassPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Peril-specific Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril & Class."
              klass="AggregatedTotalSumInsuredPerAvgRiskClassPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Peril-specific Grouped • LoB Based"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril (class not required)."
              klass="AggregatedGroupedPremiumPerAvgRiskClassPerPeril_LoBBased_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Peril-specific Grouped • Location Based"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril (class not required)."
              klass="AggregatedGroupedPremiumPerAvgRiskClassPerPeril_location_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <!--PROBABLY A TODO: Locations-->
        </nz-collapse-panel>

        <!-- Avg PDA per Avg Risk class Per Peril -->
        <nz-collapse-panel
          nzHeader="PDAs of Peril vs. Risk Classes (RCs)"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Risk Class"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril & Class."
              klass="AggregatedAvgPDAPerAvgRiskClassPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per TSI"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select Rating Tool Peril & Class."
              klass="AggregatedAvgPDAPerTSIPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Broker Commission -->
        <nz-collapse-panel
          nzHeader="Broker Commission"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Stats"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedBrokerCommission_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Per Peril -->
        <nz-collapse-panel
          nzHeader="Per Peril"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="M Premium"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> TOOL peril."
              klass="AggregatedTotalMPremiumPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="T Premium"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> TOOL peril."
              klass="AggregatedTotalTPremiumPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Risk Score per Avg. Risk Class"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> TOOL peril."
              klass="AggregatedRiskScorePerAvgRiskClassPerPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed Risk Score Profile"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> TOOL peril."
              klass="AggregatedRiskScoreVsPeril_histogram_chart"
            ></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Risk Class & Info Level"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedInfoLevelVsRiskClassVsPeril_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Risk Profile -->
        <nz-collapse-panel
          nzHeader="Risk Profile"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premium Histogram"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedPremium_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured Histogram"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSI_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Superscore -->
        <nz-collapse-panel
          nzHeader="Superscore"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Industry"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerLocationsPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Country"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerRequestFromCountry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Bucketed TSI"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerBucketedTSI_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prem / Superscore Ratio of Sums"
            class="cbn-card-lg w-100p table"
          >
            <app-line-chart klass="AggregatedSuperScorePremiums"></app-line-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Insured Objects -->
        <nz-collapse-panel
          nzHeader="Insured Objects"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Counts"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTSIPerInsuredObject_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Construnction Materials -->
        <nz-collapse-panel
          nzHeader="Construction Materials"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Address Count + Aggregated Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTSIPerConstructionMaterials_location_based_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>

      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>

<app-collapse-all-panels-btn (doClosePanelsEvent)="closeAllPanels($event)"></app-collapse-all-panels-btn>