.text-card {

    h1,
    h3 {
        margin-bottom: 1em;
    }

    h1 {
        font-size: 24px; //min-width: 150px;
    }

    .anticon-question {
        font-size: 1.5em;
    }

    div:last-child {
        h1 {
            margin-bottom: 0;
        }
    }

    .anticon-spin:before {
        animation: loadingCircle .6s infinite linear !important;
    }
}