<div class="text-card">
  <h3 *ngIf="heading">{{ heading }}</h3>
  <ng-container *ngIf="columns.length === 1; then single; else multi"> </ng-container>

  <ng-template #single>
    <h3 innerHTML="{{ columns[0].description }}"></h3>
    <app-spinner-loader color="white"
                        minHeight="111"
                        *ngIf="isLoading"></app-spinner-loader>

    <ng-container *ngIf="!isLoading">
      <h1 [ngClass]="{ 'd-inlineBlock': columns[0].json_content }"
          [innerHTML]="columns[0].teaser ? columns[0].teaser : columns[0].content"></h1>

      <ng-container *ngIf="source_hits.length > 0">
        <button #download_csv
                id="download_csv"
                nz-button
                (click)="downloadAllHitsAsCsv($event)"
                [attr.source_hits]="source_hits"
                nzType="default">
          <i nz-icon
             nzType="file-excel"
             nzTheme="outline"></i>.CSV
        </button>
      </ng-container>

      <ng-container *ngIf="!source_hits || !source_hits.length && lob_count">
        <app-async-downloader-modal></app-async-downloader-modal>
      </ng-container>

    </ng-container>
  </ng-template>

  <ng-template #multi>
    <div *ngFor="let column of columns">
      <span innerHTML="{{ column.description }}"></span>
      <app-spinner-loader minHeight="36"
                          *ngIf="isLoading"></app-spinner-loader>

      <ng-container *ngIf="!isLoading">
        <h1>{{ column.content }}</h1>
      </ng-container>
    </div>
  </ng-template>
</div>