<div
  class="legend"
  [ngStyle]="getStyles()"
>
  <p style="font-weight: 600">
    <span>{{ getTranslatedLayerName(label) }}</span>
  </p>

  <ng-container *ngIf="schemeName">
    <div [innerHTML]="getLayerScheme() | safeHtml"></div>
  </ng-container>

  <ng-container *ngIf="customSchemeName">
    <div [innerHTML]="getCustomLayerScheme() | safeHtml"></div>
  </ng-container>

  <ng-container *ngIf="pngBlobSrc">
    <img
      src="{{ pngBlobSrc }}"
      alt="{{ getTranslatedLayerName(label) }}"
    />
  </ng-container>
</div>