.legend {
    border-radius: 4px;
    background-color: white;
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 12px;

    div {
        padding: 2px;

        p {
            margin: 0;
            padding: 0 4px;
        }
    }
}