<app-text-card klass="AllOffers"></app-text-card>
<app-trigger></app-trigger>
<app-currency></app-currency>
<hr />

<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="
      [
        dashboardTypes.EfficiencyUserManagement,
        dashboardTypes.MapsAndPositions,
        dashboardTypes.ProductPortfolioManagement,
        dashboardTypes.EnvironmentalSocialGovernance,
        dashboardTypes.ReInsuranceManagement
      ].includes(dashboardKind)
    ">
    <app-multiselect
      klass="LoB_Multiselect"
      multiple="true"
      heading="Line of Business"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="EUM_ResponsibleLocalUnderwriterMultiselect"
      heading="Responsible Local Underwriter"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="Country_Multiselect"
      heading="Country"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
  </ng-container>

  <ng-container *ngSwitchCase="dashboardKind === dashboardTypes.RiskEngineeringManagement">
    <app-multiselect
      klass="LoB_Multiselect"
      multiple="true"
      heading="Line of Business"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="RiskEngineer_Multiselect"
      heading="Risk Engineer"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="Country_Multiselect"
      heading="Country"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
  </ng-container>

  <ng-container *ngSwitchCase="dashboardKind === dashboardTypes.SalesEfficiencyManagement">
    <app-multiselect
      klass="LoB_Multiselect"
      multiple="true"
      heading="Line of Business"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="SalesManager_Multiselect"
      heading="Sales Manager"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="Country_Multiselect"
      heading="Country"
      multiple="true"
      placeholder="Select..."
    ></app-multiselect>
  </ng-container>
</ng-container>
