@import '../../../../../../assets/scss/variables';

[klass*='AllOffers'] {
    .text-card {
        position: relative;
    }

    h1 {
        display: inline-block;
    }

    button {
        margin-left: 10px;
        background: transparent;
        color: white;
        vertical-align: bottom;
        float: right;
        bottom: 10px;
        position: absolute;
        right: 0px;
    }
}