.developing-crisis-span {
  background-color: #d0021b;
  padding: 0px 7px;
  border-radius: 3px;
  color: white;
  margin-left: 6px;
  font-size: 0.8em;
  display: inline-block;

  &:after {
    content: 'DEVELOPING';
  }
}
