<button
  nz-button
  nzType="default"
  nzSize="large"
  nz-popover
  nzPopoverTrigger="click"
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="right"
>
  <i
    nz-icon
    nzType="plus"
    nzTheme="outline"
    type="plus"
  ></i>(GEAM) Layers<span [innerHTML]="currentLength"></span>
</button>
<ng-template #contentTemplate>
  <section class="carto-layers">
    <nz-collapse [nzExpandIconPosition]="'right'">
      <!-- naturalHazards, manmadeHazards ... -->
      <ng-container *ngFor="let parent of nodes">
        <ng-template #header>{{ parent.parent }}
          <span
            *ngIf="parent.extras"
            [innerHTML]="parent.extras"
          ></span>
        </ng-template>
        <nz-collapse-panel
          [nzHeader]="header"
          class="layer-checkboxes"
        >
          <h2>{{ parent.parent }}</h2>
          <!-- Earthquake, Flood, Historical Events ... -->
          <ng-container *ngFor="let submenu of parent.children">
            <h3 style="margin-top: 12px">{{ submenu.submenu }}</h3>

            <div style="display: flex; flex-direction: column">
              <!-- historizedRiverFlood(CN), natura2000 ... -->
              <ng-container
                *ngFor="let child of submenu.children"
                style="width: 100%"
              >
                <!-- Dams, Ports, austriaWindstorm(HORA) ... -->
                <ng-container *ngIf="!child.children">
                  <nz-checkbox-wrapper>
                    <div style="margin-bottom: 4px">
                      <label
                        nz-checkbox
                        [nzValue]="child.value"
                        [ngModel]="isAmongChecked(child.layer || child)"
                        (ngModelChange)="
                          toggleLayer($event, child.layer || child)
                        "
                      >{{ child.label }}</label>
                    </div>
                  </nz-checkbox-wrapper>
                </ng-container>

                <!-- Historical Events ... -->
                <ng-container *ngIf="child.children">
                  <h4>{{ child.submenu }}</h4>
                  <div style="display: flex; flex-direction: column">
                    <!-- historizedRiverFlood(CN), historizedTsunami(CN) -->
                    <ng-container
                      *ngFor="let innerMostChild of child.children"
                      style="width: 100%"
                    >
                      <nz-checkbox-wrapper *ngIf="!child.disabled">
                        <!-- Historized Tsunami (CN), Ophelia 2017 ... -->
                        <div style="margin-bottom: 4px">
                          <label
                            nz-checkbox
                            [nzValue]="child.value"
                            [ngModel]="
                              isAmongChecked(
                                innerMostChild.layer
                                  ? innerMostChild.layer
                                  : innerMostChild
                              )
                            "
                            (ngModelChange)="
                              toggleLayer(
                                $event,
                                innerMostChild.layer
                                  ? innerMostChild.layer
                                  : innerMostChild
                              )
                            "
                          >{{ innerMostChild.label }}</label>
                        </div>
                      </nz-checkbox-wrapper>
                    </ng-container>
                  </div>
                  <br />
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </nz-collapse-panel>
      </ng-container>
    </nz-collapse>
  </section>
</ng-template>