@import '../../../../../assets/scss/variables';
$panel_color: #001731;

app-menu-panel {
    width: $sidebar-width;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: $panel_color;
    display: flex;
    align-items: center;
    flex-direction: column;

    .version-number {
        width: 100%;
        margin-top: -6px;
        font-weight: 500;
        background-color: white;
        text-align: center;
    }

    figure[class*='logo'] {
        position: relative;
        width: 60%;
        height: 90px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100% auto;
        background-position: center;
        margin-bottom: 0;
    }

    figure.logo-gxperts {
        background-image: url(../../../../../assets/images/gxperts/logo-compact.svg);
    }

    figure.logo-uniqa {
        padding-top: -12px;
        width: 100%;
        height: 63px;
        background-image: url(../../../../../assets/images/uniqa/uniqa.jpg);
    }

    section.menu {
        display: flex;
        flex-direction: column;
        height: calc(100% - 63px);
        padding: 10px 8px;
        overflow-y: auto;

        .menu-item {
            font-weight: bold;
            padding: 10px 15px !important;
            color: white;
            border: 1.5px solid darken(white, 40%);
            border-radius: 4px;
            line-height: 22px;
            height: auto;
            background: transparent;

            &.active {
                color: white;
                background: $blue;
                border-color: $blue;
            }

            &:not(.active) {

                &:hover,
                &:focus {
                    border-color: white;
                    background: white;
                    color: $panel_color;
                }
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &.logout {
                background: transparent;
                height: auto;
                font-size: 20px;
                border: none;
                margin-top: auto;
                margin-bottom: 0;
                width: 100%;
            }
        }
    }
}