<!-- routerLinkActive="{{ item.active ? 'active' : '' }}"
routerLink="/{{ item.href }}"
-->

<figure class="logo-uniqa">
</figure>
<div class="version-number">{{version}}</div>
<section class="menu">
  <a
    nzTooltipTitle="{{ item.tooltipContent }}"
    nzTooltipPlacement="right"
    nz-button
    nz-tooltip
    class="menu-item {{ item.active ? 'active' : '' }}"
    routerLink="/{{ item.href }}"
    *ngFor="let item of menu_items"
  >
    {{ item.shortened }}
  </a>

  <a (click)="logout($event)" [nzTooltipTitle]="logoutTitle" nz-button nz-tooltip class="logout menu-item">
    <i nz-icon nzType="logout" nzTheme="outline"></i>
  </a>
</section>
