<div [ngStyle]="{
    position: 'absolute',
    top: '12px',
    left: '12px',
    display: 'flex'
  }">
    <div *ngFor="
      let natHazLayer of mapService.getLayerColorCards()
        .naturalHazardAndManualLayersLegends
    ">
        <app-map-legend
            [schemeName]="natHazLayer.colorScheme"
            [label]="natHazLayer.label"
        ></app-map-legend>
    </div>

    <div *ngFor="
      let customLayerLabel of mapService.getLayerColorCards().customLayerLegends
    ">
        <app-map-legend
            [customSchemeName]="customLayerLabel"
            [label]="customLayerLabel"
        ></app-map-legend>
    </div>

    <div *ngFor="let pair of mapService.getCatnetPngBlobs() | async">
        <app-map-legend
            [pngBlobSrc]="pair.src"
            [label]="pair.label"
        ></app-map-legend>
    </div>
</div>