<button class="trigger trigger-btn"
        (click)="onClick()"
        nz-button
        nzSize="large"
        [ngClass]='{"is-refreshable": isRefreshable}'>
      Refresh counts & dropdowns
</button>

<button *ngIf="isRefreshable"
        nz-button
        nzType="default"
        nzTooltipTitle="{{hint}}"
        nz-tooltip
        nzShape="circle"
        nzSize="large"
        nzTooltipPlacement="left"
        class="refresh-dispatcher-circle animated fast pulse slideInRight"
        [ngClass]='{"is-refreshable": isRefreshable}'
        (click)="onClick()">
      <i nz-icon
         nzType="reload"></i>
</button>