@import '../../assets/scss/variables';

.trigger-btn {
    width: 100%;
    color: #ffffff;
    background: #001631;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px 15px;
    height: auto;

    &.is-refreshable {
        background: $pink;
    }
}

.refresh-dispatcher-circle {
    position: fixed;
    top: 50%;
    right: $floatingBtnRight;

    @media (min-width: 1800px) {
        right: $floatingBtnRightFurther;
    }

    opacity: 0.4;

    &:hover,
    &:focus,
    &.is-refreshable {
        opacity: 1;
    }


    &.is-refreshable {
        background: $pink;
        border-color: transparent;
        color: white;
    }

}