@import '../../../assets/scss/variables';

.extraChartInformationHTML {
  padding: 10px 5px;
  margin: 0 auto;
  text-align: center
}

.extra-table {
  text-align: center;
  background: #F6F6F6;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #EEE;
  border-radius: 4px;
  display: inline-block;

  .bold {
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid #AAA;
    margin-right: 5px;
  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

[klass*="Scatter"] {
  .canvas-wrapper {

    app-canvas-drawing {
      &:hover {
        &:after {
          content: 'Draw to extract a subsection of LoBs to download as CSV';
          color: $sidebar-bg;
          font-size: 14px;
          position: absolute;
          top: 72px;
          background: $light-gray-bg;
          padding: 2px 4px;
          border-radius: 3px;
          right: 0;
        }
      }
    }

    .drawing {
      position: relative;
      float: right;
      margin: 0 0 15px;
    }

    .client-report {
      right: 0;
      width: auto;
      display: inline-block;
      left: initial;
      top: -50px;
      margin: 0;
    }
  }
}
