<nz-spin nzTip="Working..."
         [nzSpinning]="isLoading"
         [nzSize]="'large'">
  <div *ngIf="extraChartInformationHTML">
    <div class="extraChartInformationHTML"
         [innerHTML]="extraChartInformationHTML"></div>
  </div>
  <div class="canvas-wrapper">
    <app-canvas-drawing *ngIf="chartType === 'scatter' && klass.includes('Scatter')"
                        [klass]="klass"
                        [canvas_to_draw]="canvas"
                        [clientReportCsv]="downloadableTableInput"></app-canvas-drawing>

    <canvas #canvas
            class="move-freely"
            attr.width="{{ width }}"
            attr.height="{{ height }}"></canvas>
  </div>
</nz-spin>
