<nz-table
  #nzTable
  nzBordered
  nzSize="middle"
  [nzData]="dataSet"
  [nzPageSize]="pageSize"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[10, 25, 50, 100, 1000]"
  [nzShowTotal]="!hidePagination"
  [nzShowPagination]="!hidePagination"
  [nzScroll]="{ y: '700px', x: '100%' }"
  nzTableLayout="fixed"
  class="{{ cssClasses }}"
  *ngIf="!isEmptyish"
>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <ng-container *ngIf="sorting_needed">
        <ng-container *ngFor="let obj of nzTable.data[0] | sortByAlphaKey: 'id' | dictKeys | enumerate">
          <th
            *ngIf="obj.index === 0"
            nzWidth="180px"
            [nzLeft]="'0px'"
            [nzFilterFn]="false"
            [nzSortFn]="false"
            [nzSortOrder]="null"
            [nzSortDirections]="[null]"
          >{{ obj.item }}</th>
          <!-- nzShowSort -->
          <th
            *ngIf="obj.index !== 0"
            [nzFilterFn]="false"
            [nzSortFn]="false"
            [nzSortOrder]="null"
            [nzSortDirections]="[null]"
            nzWidth="180px"
          >{{ obj.item }}</th>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!sorting_needed">
        <ng-container *ngFor="let obj of headers; let i = index">
          <th
            *ngIf="i === 0"
            nzWidth="180px"
            [nzFilterFn]="false"
            [nzSortFn]="false"
            [nzSortOrder]="null"
            [nzSortDirections]="[null]"
            [nzLeft]="'0px'"
            [nzSortFn]="true"
          >{{ obj }}</th>
          <!-- nzShowSort -->
          <th
            *ngIf="i !== 0"
            nzWidth="180px"
            [attr.dataTableTxt]="obj"
            [nzFilterFn]="false"
            [nzSortFn]="false"
            [nzSortOrder]="null"
            [nzSortDirections]="[null]"
            class="{{ extractRiskFromText(obj) }} {{ extractRiskClassFromText(obj) }}"
          >
            <ng-template #tooltipText>{{ headerTooltipCallback(obj) }}</ng-template>
            <span
              *ngIf="headerTooltipCallback(obj) !== obj"
              nz-tooltip
              [nzTooltipTitle]="tooltipText"
            >{{ obj }} <i
                nz-icon
                class="anticon anticon-info-circle"
                type="info-circle"
              ></i></span>
            <span
              *ngIf="headerTooltipCallback(obj) === obj"
              [innerHTML]="extractAlphaBracketsFromColName(obj)"
            ></span>
          </th>
        </ng-container>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <ng-container *ngIf="sorting_needed">
        <ng-container *ngFor="let obj of data | sortByAlphaKey: 'id':true | dictVals | enumerate">
          <td
            *ngIf="obj.index === 0"
            [nzLeft]="'0px'"
          >{{ obj.item }}</td>
          <td *ngIf="obj.index !== 0">{{ obj.item }}</td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!sorting_needed">
        <ng-container *ngFor="let obj of data | dictVals | enumerate; let i = index">
          <td
            [ngClass]="{
                is_lob: lobVsColor(extractAlphaBracketsFromColName(obj.item)) !== ''
              }"
            [appCssProps]="{ 
                '--lobcolor': lobVsColor(extractAlphaBracketsFromColName(obj.item))
              }"
            *ngIf="i === 0"
            [nzLeft]="'0px'"
            [innerHTML]="extractAlphaBracketsFromColName(obj.item)"
          ></td>

          <td
            *ngIf="i !== 0"
            [ngClass]="extractNumericalTendencyFromIndexInRow(data, obj)"
            [appCssProps]="{
                '--bgColor': extractBgColorFromIndexInRow(data, obj),
                '--tendencyDirection': extractNumericalTendencyFromIndexInRow(data, obj)
              }"
          >{{ obj.item }}</td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</nz-table>

<ng-template #nzMessage>
  <span [innerHTML]="customEmptyishInfoNotice"></span>
</ng-template>

<nz-alert
  *ngIf="isEmptyish"
  nzType="info"
  [nzMessage]="nzMessage"
  nzDescription=" "
  nzShowIcon
  class="ant-alert-default"
>
  <button
    nz-button
    (click)="regenerateContent()"
    nzType="default"
    *ngIf="isEmptyish"
  >Generate</button>
</nz-alert>