@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

nz-table:not(.fitWidth),
nz-table.notFitWidth {

  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    word-break: break-word;
    min-width: 180px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-y: hidden;
  }
}

.fitWidth {

  td,
  th {
    word-break: break-word;
    min-width: 180px; //text-overflow: ellipsis;
    white-space: pre-wrap;
    max-width: 180px; // overflow: hidden;
    overflow: hidden;
  }
}

.lastRowIsSummary {

  mat-row:last-child,
  tr:last-child td {
    border-top: 3px solid #e8e8e8;
    font-weight: bold;
  }
}

.lastRowIsNotSummary {

  mat-row:last-child,
  tr:last-child td {
    border-top-width: 1px;
    font-weight: normal;
    border-top-color: transparent;
  }
}

.last3RowsAreSummary tr {

  &:nth-last-child(3),
  &:nth-last-child(2) {
    td {
      border-top: 3px solid #e8e8e8;
      font-weight: bold;
    }
  }
}

.broad-columns {

  td,
  th {
    white-space: pre-wrap;
  }

  th[class*='risk'] {
    border-bottom: 5px solid transparent;
  }

  th.risk1 {
    border-bottom-color: #00b050;
  }

  th.risk2 {
    border-bottom-color: #92d050;
  }

  th.risk3 {
    border-bottom-color: #ffff00;
  }

  th.risk4 {
    border-bottom-color: #ffc000;
  }

  th.risk5 {
    border-bottom-color: #ff0000;
  }
}

body[class*='peril_'] {
  th[class*='risk'] {
    border-bottom: 5px solid transparent;
  }

  &[class*='peril_']:not(.peril_flexa):not(.peril_burglary) {
    $numbers: ('1': #00b050,
        '2': #5eb000,
        '3': #95e44f,
        '4': #cae53e,
        '5': #ffff00,
        '6': #ffd900,
        '7': #f1b333,
        '8': #ff7530,
        '9': #ff431e,
        '10': #ff0000);

    @each $number,
    $i in $numbers {
      nz-collapse-panel[nzheader*='vs. Risk Classes (RCs)'] app-histogram-table-chart[klass^='TotalSumInsured'] {
        th.risk_class_#{$number} {
          border-bottom-color: $i;
        }
      }
    }
  }

  &.peril_flexa,
  &.peril_burglary {
    $numbers: $fiveRiskClassColors;

    @each $number,
    $i in $numbers {
      nz-collapse-panel[nzheader*='vs. Risk Classes (RCs)'] app-histogram-table-chart[klass^='TotalSumInsured'] {
        th.risk_class_#{$number} {
          border-bottom-color: $i;
        }
      }
    }
  }
}

.ant-alert-with-description {
  max-width: 540px;
}

.ant-alert-default {
  .ant-alert-with-description {
    // border: 1px solid #dfdede;
    // background-color: #f3f3f3;
    border: 1px solid #85d496;
    background-color: #e7ffec;

    .ant-alert-icon {
      color: #359249;
    }
  }
}

$elements: 30;

@for $i from 0 to $elements {
  .child-#{$i}n-td-darker-border {

    .ant-table-tbody>tr>td:nth-child(#{$i}),
    .ant-table-thead>tr>th:nth-child(#{$i}) {
      border-right-color: #bbb;
    }
  }
}

.invisible {
  visibility: hidden;
  display: none;
}

td.is_lob {
  &:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin: auto 0;
    right: 22px;
    left: initial;
    //top: calc(50% - 6px);
    background: var(--lobcolor)
  }
}

td[class*="tendency"] {

  &.tendencyUp {
    &:before {
      @include tendencyUpSvg();
      transform: rotate(45deg);
    }
  }

  &.tendencyDown {
    &:before {
      @include tendencyDownSvg();
      transform: rotate(-45deg);
    }
  }

  &:before {
    content: '';
    width: 17px;
    height: 17px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    left: 7px;
    top: 3px;
    margin-right: 17px;
  }
}

td {
  background-color: var(--bgColor);
}