.cluster {
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    color: white !important;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    letter-spacing: 1px;
    background: #282828;
    /* The Fallback */
    background: rgba(40, 40, 40, 0.9);
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &.hover {
        background-color: #282828;
    }
    &.size45 {
        width: 45px;
        height: 45px;
    }
    &.size60 {
        width: 60px;
        height: 60px;
    }
    &.size75 {
        width: 75px;
        height: 75px;
    }
    &.size90 {
        width: 90px;
        height: 90px;
    }
}