@import '../../assets/scss/variables';

.ant-slider-track {
  top: 5px;
  height: 2px;
  background-color: $blue;
}

.ant-slider-handle {
  border-color: $blue
}

section.surround-by-inputs {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: stretch;

  .ant-input-number {
    flex: 1 0 20%;

  }

  nz-slider {
    flex: 1 0 45%;
    margin: 0 5%;

    &+.ant-input-number {
      flex: 1 0 25%;
    }

  }
}
