<nz-row *ngIf="kind == 'single'">
  <nz-col nzSpan="12">
    <nz-slider
      [nzTipFormatter]="tipFormatter"
      [nzMin]="min"
      [nzMax]="max"
      [(ngModel)]="value1"
      (nzOnAfterChange)="onChange($event)"
    ></nz-slider>
  </nz-col>
  <div
    nz-col
    nzSpan="4"
  >
    <nz-input-number
      [nzMin]="min"
      [nzMax]="max"
      [ngStyle]="{ marginLeft: '16px' }"
      [(ngModel)]="value1"
    >
    </nz-input-number>
  </div>
</nz-row>

<nz-row *ngIf="kind == 'double'">
  <h3>{{ heading }}</h3>
  <section class="surround-by-inputs">
    <nz-input-number
      [nzDisabled]="isDisabled"
      [nzMin]="min"
      [nzMax]="max - 1"
      [(ngModel)]="_ngRangeModelMin"
      (ngModelChange)="onMinChange($event)"
      [nzFormatter]="chooseInputValFormatter()"
      [nzParser]="parserInputVal"
      [nzTooltipTitle]="abbreviatedCurrencyFormatter(_ngRangeModelMin)"
      nz-tooltip
    ></nz-input-number>

    <nz-slider
      [nzDisabled]="isDisabled"
      nzRange
      [nzTipFormatter]="tipFormatter"
      [nzStep]="step || 1"
      [nzDefaultValue]="[min, max]"
      [nzMin]="min"
      [nzMax]="max"
      [(ngModel)]="_ngRangeModel"
      (nzOnAfterChange)="onChange($event)"
      (ngModelChange)="onModelChange($event)"
    ></nz-slider>

    <nz-input-number
      [nzDisabled]="isDisabled"
      [nzMin]="min + 1"
      [nzMax]="max"
      [(ngModel)]="_ngRangeModelMax"
      (ngModelChange)="onMaxChange($event)"
      [nzFormatter]="chooseInputValFormatter()"
      [nzParser]="parserInputVal"
      [nzTooltipTitle]="abbreviatedCurrencyFormatter(_ngRangeModelMax)"
      nz-tooltip
    ></nz-input-number>
  </section>
</nz-row>