.sliders-wrapper {
    position: relative;

    &,
    app-slider {
        transition: all .36s;
    }


    &.lower_opacity {
        border-color: #EEE;

        app-slider {
            opacity: .3;
        }
    }

    nz-switch {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
    }

}