<section class="text-cards">
  <app-text-card klass="MinMaxOfferCreatedTextChart"></app-text-card>
  <app-text-card klass="MinMaxOfferUpdatedTextChart"></app-text-card>
</section>

<app-relative-datepicker klass="OfferCreatedDateDatepicker"></app-relative-datepicker>
<app-relative-datepicker klass="OfferIssuanceDateDatepicker"></app-relative-datepicker>
<app-relative-datepicker klass="PolicyIssuanceDateDatepicker"></app-relative-datepicker>
<app-relative-datepicker klass="IsActiveDateDatepicker"></app-relative-datepicker>
<app-relative-datepicker klass="InceptionDateDatepicker"></app-relative-datepicker>
<app-relative-datepicker klass="IsExpiringDateDatepicker"></app-relative-datepicker>

<section
  class="sliders-wrapper"
  [ngClass]="{ lower_opacity: !slidersVisiblity }"
>
  <nz-collapse class="no-styling-overrides">
    <nz-collapse-panel
      nzHeader="Numeric Range Sliders"
      [nzActive]="slidersVisiblity"
    >
      <nz-switch
        nzSize="small"
        [(ngModel)]="slidersVisiblity"
        (ngModelChange)="toggleSlidersVisibility($event)"
      >
      </nz-switch>

      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="TotalPremium"
        heading="LoB Premium Range"
        kind="double"
        min="0"
        max="1000000000"
        unit="currency"
        step="100000"
      ></app-slider>
      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="TotalSumInsured"
        heading="LoB TSI Range"
        kind="double"
        min="0"
        max="1000000000"
        unit="currency"
        step="1000000"
      ></app-slider>
      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="LobUniqaPMLRange"
        heading="LoB Uniqa PML Range"
        kind="double"
        min="0"
        max="1000000000"
        unit="currency"
        step="1000000"
      ></app-slider>

      <nz-divider></nz-divider>

      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="AddressUniqaPMLRange"
        heading="Address Uniqa PML Range"
        kind="double"
        min="0"
        max="1000000000"
        unit="currency"
        step="1000000"
      ></app-slider>

      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="AddressLocationAssessmentScoreRange"
        heading="Address Location Assessment Score"
        kind="double"
        min="0"
        max="150"
        step="1"
      ></app-slider>

      <nz-divider></nz-divider>

      <app-slider
        [isDisabled]="!slidersVisiblity"
        klass="TurnoverRange"
        heading="Offer Client's Turnover Range"
        kind="double"
        min="0"
        max="10000000000"
        unit="currency"
        step="1000000"
      ></app-slider>
    </nz-collapse-panel>
  </nz-collapse>


</section>
