@import '../../assets/scss/variables';

nz-date-picker,
nz-month-picker,
nz-range-picker,
nz-week-picker {
  margin: 0 8px 12px 0;
}

.ant-picker-dropdown-range {
  border: 1px solid $blue !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15), 2px 0 0px 0px white !important;
  padding: 0;
  max-width: 552px;
}

.ant-picker-range {
  width: 100%;
}

.ant-picker-footer {
  background: #fafafa;
  box-shadow: inset 0 6px 8px -6px #CCC;
}

.ant-picker-ranges {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  padding-top: 15px;

  >li {
    margin-right: 18px !important;
    flex: 1 0 21%;

    >span {
      border: 1px solid #1890ff61;
      padding: 8px 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      height: auto;
      line-height: 1;
      background: white !important;
      margin: 5px 0 15px;
      text-align: center;
      position: relative;
      width: 100%;
      font-size: 14px;
    }

    // quarters
    &:nth-child(n+5):nth-last-child(n+4) {
      span {
        background: rgba(24, 143, 255, 0.1) !important;
      }
    }

    // years
    &:nth-last-child(-n+3) {
      span {
        background: $blue !important;
        color: #FFFFFF !important;
      }
    }

    // currently active
    &:nth-child(1),
    &:nth-child(3),
    &:last-child {
      span {
        &:after {
          content: '';
          position: absolute;
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
          background: lime;
          border-radius: 50%;
        }
      }
    }

  }
}

.sliders-wrapper {
  border: 1px solid transparent !important;
  box-shadow: none;
  margin-top: 25px;
  border-radius: 4px;
}