<button
  nz-button
  nzType="default"
  nzSize="large"
  nz-popover
  nzPopoverTrigger="click"
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="bottomLeft"
  #rulerTrigger
  [(nzPopoverVisible)]="visible_popover"
  id="rulerTrigger"
>
  <i
    nz-icon
    nzType="column-width"
    nzTheme="outline"
    class="ruler-icon"
  ></i>Ruler
</button>
<ng-template #contentTemplate>
  <section class="ruler-wrapper">
    <nz-divider
      nzOrientation="left"
      nzText="Using Circles"
    ></nz-divider>
    <div class="instructions">
      <nz-steps
        nzDirection="vertical"
        nzSize="small"
        nzType="navigation"
        nzCurrent="0"
      >
        <ng-template #actionsCircle>
          Click <u>Start</u> to begin.<br>
          Drag <u>the km-sign</u> to adjust radius.<br>
          Drag <u>the center</u> to reposition<br>
          Click <u>Finish</u> to remove the tool.
        </ng-template>

        <nz-step
          nzTitle="Measure"
          nzStatus="process"
          [nzDescription]="actionsCircle"
        >
        </nz-step>

      </nz-steps>
    </div>

    <div class="flex-stretch">
      <button
        nz-button
        nzType="primary"
        nzSize="normal"
        (click)="startCircularInspection()"
        [disabled]="distanceWidget"
      >Start circle</button>
      <button
        nz-button
        nzType="danger"
        nzSize="normal"
        (click)="stopCircularInspection()"
        [disabled]="!distanceWidget"
      >Finish circle</button>
    </div>

    <br>

    <nz-divider
      nzOrientation="left"
      nzText="Or Using Paths..."
    ></nz-divider>
    <div class="instructions">
      <nz-steps
        nzDirection="vertical"
        nzSize="small"
        nzType="navigation"
        nzCurrent="0"
      >
        <ng-template #actions>
          Click <u>Start</u> to begin.<br>
          <u>Right-click</u> to add a point.<br>
          <u>Double-click</u> to remove it.<br>
          <u>Drag</u> to reposition.<br>
          Click <u>Finish</u> to remove the tool.
        </ng-template>
        <nz-step
          nzTitle="Measure"
          nzStatus="process"
          [nzDescription]="actions"
        >
        </nz-step>
      </nz-steps>
    </div>
    <br>
    <div class="flex-stretch">
      <button
        nz-button
        nzType="primary"
        nzSize="normal"
        (click)="start()"
        [disabled]="GMRuler"
      >Start paths</button>
      <button
        nz-button
        nzType="danger"
        nzSize="normal"
        (click)="stop()"
        [disabled]="!GMRuler"
      >Finish paths</button>
    </div>

  </section>
</ng-template>