.ruler-wrapper {
  padding: 0 12px 12px;
}

button#rulerTrigger {
  margin-left: 20px;

  .ruler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='64 64 896 896' fill='currentColor' width='1em' height='1em' data-icon='column-width' aria-hidden='true'%3E%3Cpath d='M180 176h-60c-4.4 0-8 3.6-8 8v656c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V184c0-4.4-3.6-8-8-8zm724 0h-60c-4.4 0-8 3.6-8 8v656c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V184c0-4.4-3.6-8-8-8zM785.3 504.3L657.7 403.6a7.23 7.23 0 00-11.7 5.7V476H378v-62.8c0-6-7-9.4-11.7-5.7L238.7 508.3a7.14 7.14 0 000 11.3l127.5 100.8c4.7 3.7 11.7.4 11.7-5.7V548h268v62.8c0 6 7 9.4 11.7 5.7l127.5-100.8c3.8-2.9 3.8-8.5.2-11.4z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    top: -2px;
    position: relative;
    opacity: .6;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  &:focus,
  &:hover {
    .ruler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='64 64 896 896' fill='%2340a9ff' width='1em' height='1em' data-icon='column-width' aria-hidden='true'%3E%3Cpath d='M180 176h-60c-4.4 0-8 3.6-8 8v656c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V184c0-4.4-3.6-8-8-8zm724 0h-60c-4.4 0-8 3.6-8 8v656c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V184c0-4.4-3.6-8-8-8zM785.3 504.3L657.7 403.6a7.23 7.23 0 00-11.7 5.7V476H378v-62.8c0-6-7-9.4-11.7-5.7L238.7 508.3a7.14 7.14 0 000 11.3l127.5 100.8c4.7 3.7 11.7.4 11.7-5.7V548h268v62.8c0 6 7 9.4 11.7 5.7l127.5-100.8c3.8-2.9 3.8-8.5.2-11.4z'%3E%3C/path%3E%3C/svg%3E");
      opacity: 1;
    }
  }
}

.ant-divider-horizontal {
  margin: 4px 0 12px !important
}

.flex-stretch {
  display: flex;
  justify-content: space-between;
}
