<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>


      <nz-card
        nzTitle="Premium & Sum Insured"
        class="cbn-card-lg w-100p"
      >
        <app-text-card
          heading="Premium UNIQA share"
          klass="MinMaxAvgUniqaSharePremiumTextChart"
        ></app-text-card>
        <app-text-card
          heading="Premium Total"
          klass="MinMaxAvgTotalPremiumTextChart"
        ></app-text-card>
        <div class="vertical-divider"></div>
        <app-text-card
          heading="Sum Insured Total"
          klass="MinMaxAvgTotalSumInsuredTextChart"
        ></app-text-card>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <!--Property Risk Profile-->
        <nz-collapse-panel
          nzHeader="Property"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per PML"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart klass="RIM_Property_AggregatedStatsByPML_address_based_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per PML • YoY ⇅ in Numbers"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select at most <strong>ONE Time Range</strong> to compare YoY against.<br><br>If no range is selected, <strong>1st of Jan</strong> (of the current year) -> <strong>now</strong> will be selected as the <strong>comparison</strong> and 1 year will be subtracted and act as the <strong>baseline</strong>."
              klass="RIM_Property_AggregatedStatsByPMLminusTimeRange_AbsoluteValues_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per PML • YoY ⇅ in Percent"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select at most <strong>ONE Time Range</strong> to compare YoY against.<br><br>If no range is selected, <strong>1st of Jan</strong> (of the current year) -> <strong>now</strong> will be selected as the <strong>comparison</strong> and 1 year will be subtracted and act as the <strong>baseline</strong>."
              klass="RIM_Property_AggregatedStatsByPMLminusTimeRange_PercentualValues_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per TSI"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart klass="RIM_Property_AggregatedStatsByTSI_address_based_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per TSI • YoY ⇅ in Numbers"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select at most <strong>ONE Time Range</strong> to compare YoY against.<br><br>If no range is selected, <strong>1st of Jan</strong> (of the current year) -> <strong>now</strong> will be selected as the <strong>comparison</strong> and 1 year will be subtracted and act as the <strong>baseline</strong>."
              klass="RIM_Property_AggregatedStatsByTSIminusTimeRange_AbsoluteValues_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Analytics per TSI • YoY ⇅ in Percent"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select at most <strong>ONE Time Range</strong> to compare YoY against.<br><br>If no range is selected, <strong>1st of Jan</strong> (of the current year) -> <strong>now</strong> will be selected as the <strong>comparison</strong> and 1 year will be subtracted and act as the <strong>baseline</strong>."
              klass="RIM_Property_AggregatedStatsByTSIminusTimeRange_PercentualValues_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>

      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>

<app-collapse-all-panels-btn (doClosePanelsEvent)="closeAllPanels($event)"></app-collapse-all-panels-btn>