<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <!--Base Metrics-->
        <nz-collapse-panel
          nzHeader="LoB Portfolio Profile"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Industry"
            class="cbn-card-lg w-100p table _nz-card"
          >
            <app-histogram-table-chart klass="AggregatedAddressesVsIndustryCategory_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <!-- 
            Not applicable cause a location peril would need to be selected
            -----
            <nz-card [nzExtra]="csvDownloadTemplate" nzTitle="Per Info Level" class="cbn-card-lg w-100p table">
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerIL_histogram_chart"
            ></app-histogram-table-chart>
          </nz-card> -->

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per PML"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedAddressesPerPML_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Score vs. ...-->
        <nz-collapse-panel
          nzHeader="Portfolio Rating Profile"
          [nzShowArrow]="true"
          [nzActive]="false"
        >

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Rating Tool Avg Peril Score"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> peril."
              klass="AggregatedAddressesPerScore_histogram_chart"
            ></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Rating Tool Peril Avg Risk Class"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> peril."
              klass="AggregatedAddressesPerRC_histogram_chart"
            ></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="t/m Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> peril."
              klass="AggregatedAddressesPerRiskScore_vsPremiums_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="t/m Premiums — Individual Locations' Deviation • Bucketed by Rating Tool Peril Avg Score"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>RATING</strong> peril."
              klass="AggregatedAddressesPerRiskScore_vsPremiums_IndividualLocations_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Risk Class Matrix-->
        <nz-collapse-panel
          nzHeader="Risk Class vs..."
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="PML"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerRC_vsPML_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Info Level"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerRC_vsIL_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Score"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerRC_vsScore_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            [nzTitle]="'Recommendations' + getCurrentlySelectedAssessmentKeyFactor()"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class.<br><br><strong>1) Assessment Key Factor</strong> is not needed unless you're interested in filtering by one."
              klass="AggregatedAddressesPerRC_vsRecommendations_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Industry Category-->
        <nz-collapse-panel
          nzHeader="Industry Category vs..."
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="PML"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedAddressesPerIC_vsPML_address_based_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Info Level"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerIC_vsIL_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Score"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerIC_vsScore_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            [nzTitle]="'Recommendations' + getCurrentlySelectedAssessmentKeyFactor()"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class. <br><br><strong>1) Assessment Key Factor</strong> is not needed unless you're interested in filtering by one."
              klass="AggregatedAddressesPerIC_vsRecommendations_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Score vs. PML matrix-->
        <nz-collapse-panel
          nzHeader="Score matrix"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By Score • Per PML"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerScorePerPML_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By As-If Score • Per PML"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerAsIfScorePerPML_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="By As-If Score • Per PML/EML Ratio"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class."
              klass="AggregatedAddressesPerAsIfScorePerPML_EML_Ratio_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Recommendations vs. ...-->
        <nz-collapse-panel
          [nzHeader]="'Recommendations' + getCurrentlySelectedAssessmentKeyFactor() + ' vs...'"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Priority"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              class="ex-long-first-td"
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class.
              <br>If no <u>1) Assessment Key Factor</u> is selected, all key factors will be merged!"
              klass="AggregatedAddressesPerRecommendationKinds_vsPriority_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Status Feedbacks"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              class="ex-long-first-td"
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class.
              <br>If no <u>1) Assessment Key Factor</u> is selected, all key factors will be merged!"
              klass="AggregatedAddressesPerRecommendationKinds_vsRecommendations_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Location Counts"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              class="overflow-x-auto ex-long-first-td"
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class.
              <br>If no <u>1) Assessment Key Factor</u> is selected, all key factors will be merged!"
              klass="AggregatedAddressesPerRecommendationKinds_vsLocationCounts_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Negative conditions"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              class="overflow-x-auto ex-long-first-td"
              emptyishInfoNotice="Select a <strong>LOCATION</strong> peril AND a risk class.
              <br>If no <u>1) Assessment Key Factor</u> is selected, all key factors will be merged!"
              klass="AggregatedAddressesPerRecommendationKinds_vsNegativeCondition_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!--Evaluations vs. ...-->
        <nz-collapse-panel
          nzHeader="Evaluations vs..."
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Probability Key Criterias"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>1) Assessment Key Factor</strong>, <strong>2) Assessment Key Criterion</strong>, <strong>LOCATION</strong> peril."
              klass="AggregatedAddressesPerEvaluations_vsProbabilityCriterias_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Potential Key Criterias"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>1) Assessment Key Factor</strong>, <strong>2) Assessment Key Criterion</strong>, <strong>LOCATION</strong> peril."
              klass="AggregatedAddressesPerEvaluations_vsPotentialCriterias_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prevention Key Criterias"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select a <strong>1) Assessment Key Factor</strong>, <strong>2) Assessment Key Criterion</strong>, <strong>LOCATION</strong> peril."
              klass="AggregatedAddressesPerEvaluations_vsPreventionCriterias_address_based_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>
      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>

<app-collapse-all-panels-btn (doClosePanelsEvent)="closeAllPanels($event)"></app-collapse-all-panels-btn>