@import '../../../../../../assets/scss/variables';

section.together {
    display: inline-block;
    position: relative;
    margin: 20px 20px 20px 15px;

    .dotted {
        height: auto;

        &:before {
            content: '';
            display: inline-block;
            border: inset 1px;
            border-style: dashed;
            border-color: #ccc;
            margin-right: 10px;
            position: absolute;
            width: calc(100% + 15px);
            height: 100%;
            left: -15px;
            top: 15%;
            border-radius: 6px;
            z-index: 0;
            background: #f6f6f6;
        }

        &.together-only {
            &:hover {
                &:before {
                    border-style: solid;
                    border-color: $blue;
                }

                &:after {
                    content: 'MUST be selected together';
                    color: white;
                    font-size: 14px;
                    position: absolute;
                    top: -13px;
                    background: $blue;
                    padding: 2px 4px;
                    border-radius: 3px;
                    right: 0;
                }
            }
        }

        app-multiselect,
        app-text-input {
            margin-top: 20px;
            margin-right: 20px;
            position: relative;
            max-height: 115px;
            vertical-align: bottom;
            max-width: 460px;

            .ant-select {
                vertical-align: bottom
            }

            .ant-select-selection.ant-select-selection--multiple {
                overflow-y: auto
            }

            &.dropdown-flex {

                .ant-select-selection__rendered {
                    max-height: 80px;

                    ul {
                        display: inline-flex;
                        flex-direction: column;

                        li {
                            max-width: 90%
                        }

                        li.ant-select-search.ant-select-search--inline {
                            &:not(:focus) {
                                display: none
                            }
                        }
                    }
                }
            }
        }
    }

    app-multiselect {
        margin-top: 30px;
        margin-right: 30px;
    }
}

.as-multiselect {
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
}

.ant-collapse-header {
    font-size: 16.3px;
    font-weight: 500;
}

.expander-btn {
    position: absolute;
    left: calc(50% - 16px);
    bottom: -16px;
}

.filters-wrapper:not(.expanded) {
    *:nth-child(n+11) {
        display: none;
    }
}

.sliders-wrapper.together {
    position: relative;
    display: inline-block;

    .dotted {
        padding: 0 20px 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: left;

        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &:before {
            transition: all .36s;
            top: 0;
            background-color: transparent;
        }
    }

    &:not(.lower_opacity) {
        .dotted {
            &:before {
                box-shadow: 0 10px 10px -4px #EEE;
            }
        }
    }

    &,
    app-slider {
        transition: all .36s;
    }

    app-slider {
        padding-right: 40px;
        min-width: 320px;
    }


    &.lower_opacity {
        border-color: #EEE;

        app-slider {
            opacity: .3;
        }
    }

    nz-switch {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
    }

}