<span
  class="filters-wrapper"
  [ngClass]="{ 'expanded': areFiltersExpanded() }"
>
  <app-multiselect
    klass="OfferStatus_Multiselect"
    multiple="true"
    heading="Offer Status"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="AccountStatus_Multiselect"
    multiple="true"
    heading="Account Status"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="CB_or_SMB_Multiselect"
    multiple="false"
    heading="CB or SME"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="Cross_Border_Businesss_Multiselect"
    multiple="false"
    heading="Cross-border Business"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="DistributionChannel_Multiselect"
    multiple="true"
    heading="Distribution Channel"
    placeholder="Select..."
  ></app-multiselect>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        klass="Industry_Multiselect"
        multiple="true"
        heading="Industry"
        placeholder="Select..."
      ></app-multiselect>

      <app-multiselect
        klass="TypeOfBusiness_SemiStatic_Multiselect"
        multiple="true"
        heading="Type of Business"
        placeholder="Select..."
        [ngStyle]="{ 'max-width': 'none', 'min-width': '250px' }"
      ></app-multiselect>
    </div>
  </section>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        klass="International_Business_Multiselect"
        multiple="true"
        heading="International Program/Fronting"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        nzTooltipTitle="What logical filter should be applied?"
        nz-tooltip
        klass="International_Business_Multiselect_LogicalFilter"
        multiple="false"
        heading="Filter Strategy"
        placeholder="Select..."
        isNew="true"
      ></app-multiselect>
    </div>
  </section>

  <app-multiselect
    klass="NaceCodesStandalone_Multiselect"
    multiple="true"
    heading="Nace Code"
    placeholder="Select..."
  ></app-multiselect>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        class="__standalone"
        klass="Peril_Multiselect"
        multiple="false"
        heading="Rating Tool Peril"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        class="__standalone"
        klass="PerilRiskClass_Multiselect"
        multiple="true"
        heading="Rating Tool Peril Risk Class (rounded)"
        placeholder="Select..."
      ></app-multiselect>
    </div>
  </section>

  <section class="together">
    <div class="dotted together-only">
      <app-multiselect
        class="__standalone"
        klass="LocationPeril_Multiselect"
        multiple="false"
        heading="Location Peril"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        class="__standalone"
        klass="LocationPerilRiskClass_Multiselect"
        multiple="true"
        heading="Location Peril Risk Class (exact)"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        nzTooltipTitle="How should empty assessment scores be considered?"
        nz-tooltip
        klass="LocationAssessmentLevel3_IgnoreNullScores_Multiselect"
        multiple="false"
        heading="Risk Score Strategy"
        placeholder="Select..."
      ></app-multiselect>
    </div>
  </section>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        nzTooltipTitle="Not applied to total counts -- only used in table aggregations!"
        nz-tooltip
        class="__standalone dropdown-flex"
        klass="LocationAssessmentLevel3_KeyFactorKind_Multiselect"
        multiple="false"
        heading="1) Assessment Key Factor"
        placeholder="Select..."
      ></app-multiselect>

      <app-multiselect
        nzTooltipTitle="Not applied to total counts -- only used in table aggregations!"
        nz-tooltip
        class="__standalone dropdown-flex"
        klass="KeyCriterion_Multiselect"
        multiple="false"
        heading="2) Assessment Key Criterion"
        placeholder="Select..."
      ></app-multiselect>

      <app-multiselect
        nzTooltipTitle="Not applied to total counts -- only used in table aggregations!"
        nz-tooltip
        class="__standalone dropdown-flex"
        klass="AssessmentRecommendations_Multiselect"
        multiple="false"
        heading="3) Assessment Recommendation(s)"
        placeholder="Select..."
      ></app-multiselect>
    </div>
  </section>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        class="__standalone"
        klass="LoBRisk_Multiselect"
        multiple="true"
        heading="LoB Risks"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        class="__standalone"
        klass="LoB_Peril_RiskDescription_Multiselect"
        multiple="true"
        heading="LoB Risk Details"
        placeholder="Select..."
      ></app-multiselect>
    </div>
  </section>

  <app-multiselect
    klass="Public_Tender_Multiselect"
    multiple="false"
    heading="Public Tender"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="RegionOfOrigin_Multiselect"
    multiple="true"
    heading="Region of origin"
    placeholder="Select..."
  ></app-multiselect>

  <app-multiselect
    klass="SalesPartner_Multiselect"
    multiple="true"
    heading="Sales Partner"
    placeholder="Select..."
  ></app-multiselect>

  <section class="together">
    <div class="dotted">
      <app-multiselect
        klass="UCB_Confirmation_needed_Multiselect"
        multiple="false"
        heading="UCB confirmation needed?"
        placeholder="Select..."
      ></app-multiselect>

      <app-multiselect
        klass="UCB_Involved_Multiselect"
        multiple="false"
        heading="UCB involved?"
        placeholder="Select..."
      ></app-multiselect>
    </div>
  </section>

  <app-multiselect
    klass="UNIQA_Leading_Multiselect"
    multiple="false"
    heading="UNIQA Leading"
    placeholder="Select..."
  ></app-multiselect>

  <app-text-input
    klass="OfferNumber_TextInput"
    elastic_variable="offer.number"
    heading="Offer Number(s)"
    placeholder="AT-201708-116376"
    hasAsyncAutocomplete="handleOfferNumberLookup"
  ></app-text-input>

  <app-text-input
    klass="ClientName_TextInput"
    elastic_variable="offer.client.name"
    heading="Client Name(s)"
    placeholder="Cortusa SRL"
    hasAsyncAutocomplete="handleClientNameLookup"
  ></app-text-input>

  <app-multiselect
    klass="SourceSystem_Multiselect"
    multiple="true"
    heading="Imported from System"
    placeholder="Select..."
  ></app-multiselect>

  <section class="together">
    <div class="dotted">
    <app-multiselect
      class="__standalone"
      klass="ESGCriterion_Multiselect"
      multiple="false"
      heading="ESG Criterion"
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      class="__standalone"
      klass="ESGRiskCode_Multiselect"
      multiple="true"
      heading="ESG Risk Code"
      placeholder="Select..."
    ></app-multiselect>
    </div>
  </section>

  <nz-collapse class="as-multiselect no-styling-overrides">
    <nz-collapse-panel
      nzHeader="Construction, Building & Roof (Location Property)"
      nzActive="false"
    >
      <app-multiselect
        klass="BuildingType_Multiselect"
        multiple="true"
        heading="Building Type"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        klass="RoofGeometry_Multiselect"
        multiple="true"
        heading="Roof Geometry"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        klass="RoofSystem_Multiselect"
        multiple="true"
        heading="Roof System"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        klass="ConstructionMaterial_Multiselect"
        multiple="true"
        heading="Construction Material"
        placeholder="Select..."
      ></app-multiselect>
      <app-multiselect
        klass="ShapeOfBuilding_Multiselect"
        multiple="true"
        heading="Shape of Building"
        placeholder="Select..."
      ></app-multiselect>


      <section
        class="together sliders-wrapper"
        [ngClass]="{ lower_opacity: !buildingSlidersVisiblity }"
      >
        <div class="dotted">
          <nz-switch
            nzSize="small"
            [(ngModel)]="buildingSlidersVisiblity"
            (ngModelChange)="toggleSlidersVisibility($event)"
          >
          </nz-switch>
          <app-slider
            [isDisabled]="!buildingSlidersVisiblity"
            klass="NumberOfBuildings"
            heading="Number of Buildings"
            kind="double"
            unit="number"
            min="0"
            max="3000"
            step="1"
          ></app-slider>
          <app-slider
            [isDisabled]="!buildingSlidersVisiblity"
            klass="NumberOfStories"
            heading="Number of Stories"
            kind="double"
            unit="number"
            min="0"
            max="50"
            step="1"
          ></app-slider>
          <app-slider
            [isDisabled]="!buildingSlidersVisiblity"
            klass="NumberOfBasementFloors"
            heading="Basement Floors"
            kind="double"
            unit="number"
            min="0"
            max="30"
            step="1"
          ></app-slider>
          <app-slider
            [isDisabled]="!buildingSlidersVisiblity"
            klass="YearOfConstruction"
            heading="Year of Construction"
            kind="double"
            unit="number"
            min="1800"
            [max]="currentYear"
            step="1"
          ></app-slider>
        </div>
      </section>


    </nz-collapse-panel>
  </nz-collapse>

  <section
    [hidden]="true"
    id="forGlobalWindowAggsOnly"
  >
    <!-- <app-multiselect
      klass="RecommendationKinds_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect> -->

    <app-multiselect
      klass="ProbabilityKeyCriterias_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>

    <app-multiselect
      klass="PotentialKeyCriterias_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>

    <app-multiselect
      klass="PreventionKeyCriterias_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>

    <app-multiselect
      klass="NegativeAspects_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>

    <app-multiselect
      klass="IndustryVsTypeOfBusiness_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>
    <app-multiselect
      klass="NACECodes_forGlobalWindowAggsOnly_Multiselect"
      multiple="true"
      heading=""
      placeholder="Select..."
    ></app-multiselect>
  </section>
</span>

<button
  nz-button
  nz-tooltip
  [nzTooltipTitle]="expanderBtnTitle"
  (click)="toggleFilters()"
  nzType="primary"
  nzShape="circle"
  class="expander-btn"
>
  <i
    nz-icon
    [nzType]="areFiltersExpanded() ? 'minus' : 'plus'"
    nzTheme="outline"
    [ngClass]="{
        'anticon-plus': !areFiltersExpanded(),
        'anticon-minus': areFiltersExpanded()
      }"
  ></i>
</button>
