<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>
<nz-layout class="layout">
  <nz-content>
    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
    </ng-template>

    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>


      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        nzTitle="Premium & Sum Insured"
        class="cbn-card-lg w-100p"
      >
        <app-text-card
          heading="Premium UNIQA share"
          klass="MinMaxAvgUniqaSharePremiumTextChart"
        ></app-text-card>
        <app-text-card
          heading="Premium Total"
          klass="MinMaxAvgTotalPremiumTextChart"
        ></app-text-card>

        <div class="vertical-divider"></div>
        <app-text-card
          heading="Sum Insured Total"
          klass="MinMaxAvgTotalSumInsuredTextChart"
        ></app-text-card>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg w-100p even-child last-child"
        nzTitle="Premium / SI / LoB"
      >
        <section class="custom-legend">
          <div *ngFor="let lob of SEUM_COLORS | dictKeys">
            <span class="legend-categ">{{ lob }}</span>
            <span
              *ngFor="let color of SEUM_COLORS[lob]; let i = index"
              class="legend-color"
              [ngStyle]="{ 'background-color': color, color: i >= 2 ? invertColor(color, true) : black }"
            >
              {{ i + 1 }}
            </span>
          </div>
        </section>
        <app-line-chart klass="PremiumVsSIvsLoBScatterPlot"></app-line-chart>
      </nz-card>

      <nz-card
        [nzExtra]="csvDownloadTemplate"
        class="cbn-card-lg w-100p even-child last-child"
        nzTitle="Portfolio Risk Profile"
      >
        <app-histogram-table-chart klass="GrossRiskProfile_colored_histogram_chart"></app-histogram-table-chart>
        <section class="custom-legend">
          <div
            *ngFor="let category of RISK_PROFILE_COLORS | dictKeys"
            class="mr-50"
          >
            <span class="legend-categ long">{{ category }}</span>
            <span
              *ngFor="let color_explanation_pair of RISK_PROFILE_COLORS[category]; let i = index"
              class="legend-color long"
              [ngStyle]="{ 'background-color': color_explanation_pair[0], color: i >= 2 ? invertColor(color_explanation_pair[0], true) : black }"
            >
              {{ color_explanation_pair[1] }}
            </span>
          </div>
        </section>
      </nz-card>

      <nz-card
        [nzExtra]="csvDownloadTemplate"
        class="cbn-card-lg w-100p"
        nzTitle="Total No. of Offers / LoB"
      >
        <app-vertical-bar-chart klass="OffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
      </nz-card>

      <!-- OffersAggregatedByLineOfBusinessVsPremium -->
      <nz-card
        [nzExtra]="csvDownloadTemplate"
        class="cbn-card-lg w-100p"
        nzTitle="Total Premium / Concluded Premium / LoB"
      >
        <app-vertical-bar-chart klass="OffersAggregatedByLineOfBusinessVsPremium"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg w-100p"
        nzTitle="By Status"
      >
        <app-vertical-bar-chart klass="OffersAggregatedByStatus"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg"
        nzTitle="ACCEPTED Offers by LoB"
      >
        <app-vertical-bar-chart klass="AcceptedOffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg _nz-card even-child"
        [attr.force_height]="350"
        nzTitle="DECLINED Offers by LoB"
      >
        <app-vertical-bar-chart klass="DeclinedOffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg"
        nzTitle="By Declination Reasons"
      >
        <app-vertical-bar-chart klass="OffersAggregatedByDeclinationReasons"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg even-child"
        nzTitle="By Risk"
      >
        <app-vertical-bar-chart klass="OffersAggregatedByRisks"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="w-100p cbn-card-lg vertical-align-top split-chart-screen _nz-card no-table-overflow"
        [attr.force_height]="1180"
        nzTitle="By Perils"
      >
        <app-horizontal-bar-chart klass="OffersAggregatedByPerils"></app-horizontal-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="w-100p cbn-card-lg"
        nzTitle="Success Ratio"
      >
        <app-line-chart klass="OffersSuccessRatioAggregatedByDates"></app-line-chart>
      </nz-card>

      <!-- OffersSuccessRatiovsLobsCountAggregatedByDates -->
      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="w-100p cbn-card-lg"
        nzTitle="Success Ratio vs. LoBs Count"
      >
        <app-line-chart klass="OffersSuccessRatiovsLobsCountAggregatedByDates"></app-line-chart>
      </nz-card>

      <!-- OffersSuccessRatioVsPremiumsAggregatedByDates -->
      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="w-100p cbn-card-lg"
        nzTitle="Success Ratio vs. Premium Sum"
      >
        <app-line-chart klass="OffersSuccessRatioVsPremiumsAggregatedByDates"></app-line-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg odd-child"
        nzTitle="By Most Represented Business Partners"
      >
        <app-vertical-bar-chart klass="MostRepresentedBusinessPartners"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg odd-child"
        nzTitle="Business Partners vs Premium"
      >
        <app-vertical-bar-chart klass="MostRepresentedBusinessPartnersVsPremium"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg even-child"
        nzTitle="By Distribution Channel"
      >
        <app-vertical-bar-chart klass="MostRepresentedDistributionChannels"></app-vertical-bar-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg w-100p even-child last-child"
        nzTitle="Percentual Ratio of mTotal/tTotal Premium — Property 2"
      >
        <app-line-chart klass="PolicyIssuedPremiumRatiosByTSI"></app-line-chart>
      </nz-card>

      <nz-card
        [nzExtra]="jpgDownloadTemplate"
        class="cbn-card-lg w-100p even-child last-child"
        nzTitle="Percentual Ratio of mTotal/tTotal Premium — Property 2 | Chronological"
      >
        <app-line-chart klass="PolicyIssuedPremiumRatiosVsTime"></app-line-chart>
      </nz-card>

      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>