<div class="canvas-wrapper">
  <input type="hidden"
         id="{{ klass }}"
         value="{{ csvInput }}" />
  <canvas #canvas
          class="move-freely"></canvas>
</div>
<div *ngIf="legendMap"
     [innerHTML]="legendMap"></div>
