.flex-column .ngx-charts-outer {
    flex-direction: column;
    display: flex;
    max-width: none;
    width: 100% !important;
}

.flex-column .chart-legend {
    max-width: none;
    width: 100% !important;
}

.flex-column .chart-legend>div {
    width: 100% !important;
}

.flex-column .legend-labels {
    display: flex !important;
    flex-wrap: wrap !important;
}

.canvas-wrapper+div table {
    font-size: 16px;
}