<h3 *ngIf="heading">{{ heading }}</h3>
<ng-container *ngIf="!hasAsyncAutocomplete">
  <input nz-input
         nzSize="large"
         placeholder="{{ placeholder }}"
         [(ngModel)]="selectedValues"
         (ngModelChange)="onChange($event)" />
</ng-container>
<ng-container *ngIf="hasAsyncAutocomplete">
  <nz-select style="width: 100%; min-width: 200px"
             nzSize="large"
             nzPlaceHolder="{{ placeholder }}"
             nzNotFoundContent="Type something..."
             nzShowSearch
             nzServerSearch
             [nzSelectOnTab]="true"
             [nzShowArrow]="true"
             [nzAutoClearSearchValue]="false"
             [nzMode]="isMultiselect ? 'multiple' : 'default'"
             [(ngModel)]="selectedValues"
             (ngModelChange)="onChange($event)"
             [nzAllowClear]="true"
             (nzOnSearch)="onSearchChange($event, hasAsyncAutocomplete)">
    <nz-option *ngFor="let o of autocompleteSuggestions"
               [nzLabel]="o"
               [nzValue]="o">
    </nz-option>
  </nz-select>
</ng-container>
