<app-menu-panel active_item="{{ currentDashboardType }}"></app-menu-panel>
<app-progress-indicator></app-progress-indicator>

<nz-layout class="layout">
  <nz-content>
    <ng-template #csvDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>.CSV
      </button>
      <button
        nz-button
        (click)="downloadDivRawCsv($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="file-excel"
          nzTheme="outline"
        ></i>Raw .CSV
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
        class="btn-refresh-component"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #jpgDownloadTemplate>
      <button
        nz-button
        (click)="downloadDivAsJPG($event)"
        nzType="default"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>JPG
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
        class="btn-refresh-component"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <ng-template #extraCheckboxTemplate>
      <app-checkbox
        klass="interactiveSearchCheckbox"
        text="Search as I move the map"
      ></app-checkbox>
      <button
        nz-button
        class="expand-card"
        nzType="primary"
        nzSize="small"
        (click)="toggleExpandedCard()"
      >
        <i
          nzType="shrink"
          nzTheme="outline"
          nz-icon
          #toggleEnlargedButtonIcon
        ></i>
      </button>
      <button
        nz-button
        (click)="regenerateContent($event)"
        nzType="primary"
        class="btn-refresh-component"
      >
        <i
          nz-icon
          nzType="sync"
          nzTheme="outline"
        ></i>Refresh
      </button>
    </ng-template>

    <section class="dashboard">
      <nz-card class="cbn-card-sm flex parent-flex flex-50">
        <app-datepickers></app-datepickers>
      </nz-card>

      <nz-card class="cbn-card-sm parent-flex flex-end flex-50 inverted">
        <app-main-filters dashboardKind="{{ currentDashboardType }}"></app-main-filters>
      </nz-card>

      <nz-card class="cbn-card-lg parent-flex w-100p">
        <app-subfilters></app-subfilters>
      </nz-card>

      <nz-collapse [nzExpandIconPosition]="'right'">
        <nz-collapse-panel
          nzHeader="Efficiency Management"
          [nzShowArrow]="true"
          [nzActive]="false"
          class="no-child-refresh"
        >
          <!--Premium & Sum Insureds-->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            nzTitle="Premium & Sum Insured"
            class="cbn-card-lg w-100p"
          >
            <app-text-card
              heading="Premium UNIQA share"
              klass="MinMaxAvgUniqaSharePremiumTextChart"
            ></app-text-card>
            <app-text-card
              heading="Premium Total"
              klass="MinMaxAvgTotalPremiumTextChart"
            ></app-text-card>
            <div class="vertical-divider"></div>
            <app-text-card
              heading="Sum Insured Total"
              klass="MinMaxAvgTotalSumInsuredTextChart"
            ></app-text-card>
          </nz-card>

          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg w-100p even-child last-child"
            nzTitle="Premium / SI / LoB"
          >
            <section class="custom-legend">
              <div *ngFor="let lob of SEUM_COLORS | dictKeys">
                <span class="legend-categ">{{ lob }}</span>
                <span
                  *ngFor="let color of SEUM_COLORS[lob]; let i = index"
                  class="legend-color"
                  [ngStyle]="{ 'background-color': color, color: i >= 2 ? invertColor(color, true) : black }"
                >
                  {{ i + 1 }}
                </span>
              </div>
            </section>
            <app-line-chart klass="PremiumVsSIvsLoBScatterPlot"></app-line-chart>
          </nz-card>

          <!-- OffersAggregatedByLineOfBusiness -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg w-100p"
            nzTitle="Total No. of Offers / LoB"
          >
            <app-vertical-bar-chart klass="OffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
          </nz-card>

          <!-- OffersAggregatedByLineOfBusinessVsPremium -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg w-100p"
            nzTitle="Total Premium / Concluded Premium / LoB"
          >
            <app-vertical-bar-chart klass="OffersAggregatedByLineOfBusinessVsPremium"></app-vertical-bar-chart>
          </nz-card>

          <!-- OffersAggregatedByStatus -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg w-100p"
            nzTitle="By Status"
          >
            <app-vertical-bar-chart klass="OffersAggregatedByStatus"></app-vertical-bar-chart>
          </nz-card>

          <!-- AcceptedOffersAggregatedByLineOfBusiness -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg"
            nzTitle="ACCEPTED Offers by LoB"
          >
            <app-vertical-bar-chart klass="AcceptedOffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
          </nz-card>

          <!-- DeclinedOffersAggregatedByLineOfBusiness -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg _nz-card even-child"
            [attr.force_height]="350"
            nzTitle="DECLINED Offers by LoB"
          >
            <app-vertical-bar-chart klass="DeclinedOffersAggregatedByLineOfBusiness"></app-vertical-bar-chart>
          </nz-card>

          <!-- OffersAggregatedByDeclinationReasons -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg"
            nzTitle="By Declination Reasons"
          >
            <app-vertical-bar-chart klass="OffersAggregatedByDeclinationReasons"></app-vertical-bar-chart>
          </nz-card>

          <!-- OffersAggregatedByRisks -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg even-child"
            nzTitle="By Risk"
          >
            <app-vertical-bar-chart klass="OffersAggregatedByRisks"></app-vertical-bar-chart>
          </nz-card>

          <!-- OffersAggregatedByPerils -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="w-100p cbn-card-lg vertical-align-top split-chart-screen _nz-card no-table-overflow"
            [attr.force_height]="1180"
            nzTitle="By Perils"
          >
            <app-horizontal-bar-chart klass="OffersAggregatedByPerils"></app-horizontal-bar-chart>
          </nz-card>

          <!-- OffersSuccessRatioAggregatedByDates -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="w-100p cbn-card-lg"
            nzTitle="Success Ratio"
          >
            <app-line-chart klass="OffersSuccessRatioAggregatedByDates"></app-line-chart>
          </nz-card>

          <!-- OffersSuccessRatiovsLobsCountAggregatedByDates -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="w-100p cbn-card-lg"
            nzTitle="Success Ratio vs. LoBs Count"
          >
            <app-line-chart klass="OffersSuccessRatiovsLobsCountAggregatedByDates"></app-line-chart>
          </nz-card>

          <!-- OffersSuccessRatioVsPremiumsAggregatedByDates -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="w-100p cbn-card-lg"
            nzTitle="Success Ratio vs. Premium Sum"
          >
            <app-line-chart klass="OffersSuccessRatioVsPremiumsAggregatedByDates"></app-line-chart>
          </nz-card>

          <!-- MostRepresentedBusinessPartners -->
          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg odd-child"
            nzTitle="By Most Represented Business Partners"
          >
            <app-vertical-bar-chart klass="MostRepresentedBusinessPartners"></app-vertical-bar-chart>
          </nz-card>

          <nz-card
            [nzExtra]="jpgDownloadTemplate"
            class="cbn-card-lg odd-child"
            nzTitle="Business Partners vs Premium"
          >
            <app-vertical-bar-chart klass="MostRepresentedBusinessPartnersVsPremium"></app-vertical-bar-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Industry -->
        <nz-collapse-panel
          nzHeader="Industry"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prem / SumInsured Ratio of Sums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedPremiumsVsTotalSumInsuredPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations (Addresses)"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsCountPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- BA -->
        <nz-collapse-panel
          nzHeader="Business Activity"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalPremiumPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalOffersPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedTotalSumInsuredPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Prem / SumInsured Ratio of Sums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              klass="AggregatedPremiumsVsTotalSumInsuredPerBusinessActivity_histogram_chart"
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
            >
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart
              emptyishInfoNotice="Select 'Line of Business' and 'Industry' first."
              klass="AggregatedLocationsPerBusinessActivity_histogram_chart"
            >
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Nace -->
        <nz-collapse-panel
          nzHeader="Nace Codes"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalOffersPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsPerNaceCodes_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Turnover -->
        <nz-collapse-panel
          nzHeader="Turnover"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed Premium"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsPremium_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed TSI"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsTSI_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Bucketed Offers Count"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTurnoverVsCount_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Region of Origin -->
        <nz-collapse-panel
          nzHeader="Region of origin"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerRegionOfOrigin_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <!-- <nz-card [nzExtra]="csvDownloadTemplate" nzTitle="Locations (Addresses)" class="cbn-card-lg w-100p table">
     <app-histogram-table-chart
       klass="AggregatedLocationsCountPerRegionOfOrigin_histogram_chart"
     ></app-histogram-table-chart>
   </nz-card> -->
        </nz-collapse-panel>

        <!-- Sales Partner -->
        <nz-collapse-panel
          nzHeader="Sales Partners"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premiums"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalPremiumPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="LoB IDs"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLOBCountPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedTotalSumInsuredPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Locations (Addresses)"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedLocationsCountPerSalesPartner_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Broker Commission -->
        <nz-collapse-panel
          nzHeader="Broker Commission"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Stats"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedBrokerCommission_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Risk Profile -->
        <nz-collapse-panel
          nzHeader="Risk Profile"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Premium Histogram"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedPremium_histogram_chart"></app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Sum Insured Histogram"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSI_histogram_chart"></app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>

        <!-- Superscore -->
        <nz-collapse-panel
          nzHeader="Superscore"
          [nzShowArrow]="true"
          [nzActive]="false"
        >
          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Industry"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerLocationsPerIndustry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Country"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerRequestFromCountry_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>

          <nz-card
            [nzExtra]="csvDownloadTemplate"
            nzTitle="Per Bucketed TSI"
            class="cbn-card-lg w-100p table"
          >
            <app-histogram-table-chart klass="AggregatedSuperscoresPerBucketedTSI_histogram_chart">
            </app-histogram-table-chart>
          </nz-card>
        </nz-collapse-panel>
      </nz-collapse>

      <app-back-to-top></app-back-to-top>
    </section>
  </nz-content>
</nz-layout>

<app-collapse-all-panels-btn (doClosePanelsEvent)="closeAllPanels($event)"></app-collapse-all-panels-btn>