<div class="drawing">
  <button nz-button
          nzType="default"
          nzSize="large"
          type="button"
          (click)="begin()"
          class="polygon">&nbsp;</button>
  <!--<button nz-button nzType="default" nzSize="large" type="button" (click)="undo()" class="undo">&nbsp;</button>-->
  <button nz-button
          nzType="default"
          nzSize="large"
          type="button"
          (click)="trash()"
          class="trash">&nbsp;</button>
  <button nz-button
          nzType="default"
          nzSize="large"
          type="button"
          (click)="done()"
          class="done"
          [disabled]="!canClosePath">
    <strong>Close polygon path</strong>
  </button>
</div>

<div class="client-report"
     *ngIf="clientReportCsv">
  <button nz-button
          nzType="primary"
          nzSize="large"
          type="button"
          (click)="downloadClientReport()"
          class="done download-client-report"
          [attr.csv]="clientReportCsv"
          #downloadClientReportCsv>
        <i nz-icon nzType="file-excel" nzTheme="outline"></i> <strong>&nbsp;Polygon CSV Export</strong>
  </button>
</div>
