*:not(.client-report) {
  button {
    background-color: #f6f6f6;
  }
}

button.download-client-report {
  width: auto !important;
  padding: 0 15px !important;

  &,
  &>* {
    font-size: 16px !important;
  }
}

button {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 18px !important;
  min-width: 40px;
  width: auto;
  height: 40px;
  vertical-align: middle;
  transition: none;

  &.active {
    border-color: #999;
    background-color: #ddd;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.polygon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M5.84 10.62l2.91-.8-2.22-2.3-.9 2.89a.18.18 0 0 0 .21.21zM15.86 2.7L9.8 9 7.34 6.43 13.4.15a.48.48 0 0 1 .69 0L15.86 2a.52.52 0 0 1 0 .7zM12.32 16H9.4v-1.75h2.92V16zm-4.87 0H4.52v-1.77h2.94V16zm-5 0H0v-2.42h1.74v.63h.71V16zm-.7-4H0V9h1.74v2.93zm.16-3.58l-.54-1.65 2.78-.91.54 1.65z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E") !important;
}

.circle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M13 10.48a2.23 2.23 0 0 0-1.15.32L9.27 8.74a1.27 1.27 0 0 0 .05-.26A1.33 1.33 0 1 0 8 9.81h.06L10.84 12a2.23 2.23 0 0 0-.12.71A2.26 2.26 0 1 0 13 10.48zm0 2.94a.68.68 0 1 1 .68-.68.68.68 0 0 1-.68.68zM5.13 3.12L4.2 1.53a7.51 7.51 0 0 0-3 3.26l1.68.8a5.66 5.66 0 0 1 2.25-2.47zM13.39 6.28l1.75-.56a7.49 7.49 0 0 0-2.53-3.63l-1.13 1.45a5.66 5.66 0 0 1 1.91 2.74zM2.34 8a5.72 5.72 0 0 1 .06-.8L.58 6.94A7.62 7.62 0 0 0 .5 8a7.46 7.46 0 0 0 .76 3.29l1.66-.81A5.64 5.64 0 0 1 2.34 8zM15.5 8h-1.84a5.49 5.49 0 0 1-.17 1.27l1.69.84A7.44 7.44 0 0 0 15.5 8zM2.52 13.14a7.46 7.46 0 0 0 3.83 2.2l.4-1.8a5.63 5.63 0 0 1-2.89-1.66zM10 2.71L10.67 1a7.56 7.56 0 0 0-4.4-.3l.42 1.79a5.72 5.72 0 0 1 3.31.22zM8.44 13.66l.14 1.84a7.3 7.3 0 0 0 1.77-.39l-.71-1.7a5.48 5.48 0 0 1-1.2.25z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E") !important;
}

.trash {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M13.57 1.83H9.71v-.54a.48.48 0 0 0-.47-.48H6.76a.48.48 0 0 0-.48.48v.54H2.43a.43.43 0 0 0-.43.44v1.1a.43.43 0 0 0 .43.43h11.14a.43.43 0 0 0 .43-.43v-1.1a.43.43 0 0 0-.43-.44zM11.3 15.19H4.84a.47.47 0 0 1-.44-.5l-1.26-9a.5.5 0 0 1 .5-.5h8.72a.5.5 0 0 1 .5.5l-1.12 9a.47.47 0 0 1-.44.5z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E") !important;
}

.undo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs id='defs3051'%3E%3Cstyle type='text/css' id='current-color-scheme'%3E .ColorScheme-Text %7B color:%234d4d4d; %7D %3C/style%3E%3C/defs%3E%3Cpath style='fill:currentColor;fill-opacity:1;stroke:none' d='m8.300781 3l-3.292969 3.292969-.207031.207031.207031.207031 3.292969 3.292969.707031-.707031-2.292969-2.292969h2.285156 1.00781.492188c3.047 0 5.5 2.453 5.5 5.5 0 3.047-2.453 5.5-5.5 5.5h-1.5v1h1.5c3.601 0 6.5-2.899 6.5-6.5 0-3.601-2.899-6.5-6.5-6.5h-.492188-1.00781-2.285156l2.292969-2.292969-.707031-.707031' class='ColorScheme-Text'%3E%3C/path%3E%3C/svg%3E");
}