/* You can add global styles to this file, and also import other style files */

@import './../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';
@import './assets/scss/animations';
@import './assets/scss/variables';
@import './assets/scss/custom_hljs';
@import './assets/scss/expandable_json';
@import './assets/scss/json2html';

app-root * {
  //animation-duration: 0s !important;
}

body.is_demo {
  .logo-uniqa {
    background: transparent;
  }

  .loading_screen_logo_wrapper {
    img {
      display: none !important;
    }
  }
}

.gx-logo {
  width: 180px;
  height: 64px;
  background-image: url(./assets/images/gxperts/logo_full_white.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-left: -30px;
  background-position: left center;
}

.d-inlineBlock {
  display: inline-block;
}

.btn-container {
  button {
    vertical-align: bottom;
  }
}

.ant-popover-inner-content {
  max-height: 540px;
  max-width: 500px;
  overflow-y: scroll;
  color: #282828;
}

app-relative-datepicker+app-relative-datepicker {
  margin-top: 20px;
  display: block;
}

app-text-card {
  flex-grow: 1;

  & & {
    align-content: stretch;
  }

  min-width: 270px;
}

app-multiselect,
app-text-input {
  display: inline-block;
  margin: 20px 20px 0 0;

  &.standalone {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: $card-box-shadow;
    border: none;
    border-radius: 4px;
    max-width: 240px;
  }
}

app-slider {
  margin: 20px 0 0;
  display: block;

  .ant-slider {
    margin: 10px 5px
  }
}

app-subfilters {
  margin-top: -40px;
  overflow-x: auto;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

nz-header {
  position: fixed;
  width: 100vw;
  z-index: 2;

  &.ant-layout-header {
    background: $dark-bg;
  }

  li {
    background: transparent !important;

    &.title {
      font-size: 1.5em;
      color: #fff;
      font-weight: 700;
    }

    &.datepicker {
      float: right !important;
      background: transparent;
    }
  }

  .ant-menu-dark.ant-menu-horizontal {
    background: transparent;
  }
}

nz-content {
  background: $light-gray-bg;
  padding: 50px 50px 50px 133px;
  overflow-y: auto;
  overflow-x: hidden;
}

section.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1540px;
  margin: 0 auto;

  nz-collapse:not(.no-styling-overrides) {
    width: 100%;
    position: relative;
    margin-bottom: 100px;

    &.ant-collapse {
      .ant-collapse-item {
        &:first-child {
          border-radius: 4px 4px 0 0;
        }

        background: $blue;

        .ant-collapse-header {
          padding: 24px;
          line-height: 24px;
          font-size: 1.4em;
          color: white;

          .ant-collapse-arrow {
            font-size: 1em;
            padding-right: 0.5em;
          }
        }

        .ant-collapse-content {
          background-color: $light-gray-bg;

          [class*='cbn-card-'] {
            &:last-of-type {
              margin-bottom: 0 !important;
            }
          }
        }

        &:not(.ant-collapse-item-active) {
          .agm-map-container-inner {
            height: 5px !important;
            width: 5px !important;
          }
        }
      }
    }
  }

  [class*='cbn-card-'] {
    display: block;
    flex-wrap: wrap; //margin-right: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: $card-box-shadow;
    border: none;
    border-radius: 4px;

    &:first-child {
      margin-right: 0;
    }

    &:last-of-type,
    &.w-100p,
    &.even-child,
    &:nth-child(even) {
      margin-right: 0;
      max-width: 49%;
      flex: 1 0 49%;
    }

    &.last-child {
      max-width: 48%;
    }

    &.odd-child {
      margin-right: 30px;
    }

    &.w-100p {
      max-width: none;
    }

    &:not(:last-of-type) {
      flex: 1;
    }

    [class*='cbn-card-'] {
      margin-bottom: 0;
    }

    &.inverted {
      background: $blue;
      max-width: none;
      margin-left: 30px;
      margin-right: 0;

      .ant-card-body {
        width: 100%;
      }

      h1,
      h3 {
        color: white;
      }

      h1 {
        margin-bottom: 0;
        min-height: 108px;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1em 0;
        padding: 0;
      }

      .ant-btn-primary {
        color: $blue;
        background: white;
        border-color: white;
      }

      app-multiselect {
        display: block;
      }
    }

    &.has-hor-sep {
      position: relative;
      margin-bottom: 100px; // &:after {
      //     content: '';
      //     position: absolute;
      //     width: 100%;
      //     height: 5px;
      //     bottom: -52px;
      //     background: transparent;
      //     left: 0;
      //     border: 2px solid #001837;
      //     border-style: dotted;
      // }
    }
  }

  .w-100p {
    flex: 1 0 100% !important;

    &:not(.table) {
      >.ant-card-body {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
      }
    }
  }

  .no-body-padding {
    .ant-card-body {
      padding: 0;
    }
  }

  .cbn-card-lg {
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cbn-card-md {
    min-width: 23vw;
    max-width: 700px;
  }

  .cbn-card-sm {
    max-width: 400px; //display: flex;
    flex-direction: column;

    .mat-card-content {
      display: flex;
      flex-direction: column;
    }
  }

  .cbn-card-xs {
    max-width: 200px;
  }

  [class*='cbn-card-'] {
    &.flex {
      max-width: 770px;

      .text-cards {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d8d8;
        margin-bottom: 15px;
      }

      app-text-card:not([klass*="MinMaxOffer"]) {
        .text-card {
          display: flex;

          div {
            &:not(:first-child) {
              border-left: 1px solid #ddd;
              padding-left: 30px;
              margin-left: 10px;
            }

            &:nth-child(2) {
              min-width: 240px;
            }
          }
        }
      }

      app-text-card[klass*="MinMaxOffer"] {
        position: relative;
        flex: none;
        min-width: 1px;

        .text-card {
          text-align: left;
          display: inline-flex;
          position: relative;
          margin: 0 auto;
          width: auto;

          >div {
            min-width: 145px
          }

          span {
            font-size: 13px;
          }

          h1 {
            font-size: 14px;
            letter-spacing: 0px;
            font-weight: normal;
          }
        }
      }
    }

    &.parent-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 340px;
      flex: 1 0 20%;

      &.flex-end {
        justify-content: flex-end
      }

      &.w-100p {
        padding-top: 40px;
      }

    }

    &.expanded {
      flex: 1 0 100%;
      width: 100% !important;
      max-width: none;
      height: 800px;

      google-map {
        height: 696px;
      }
    }

    &.no-flex-auto-width {
      max-width: none;
      min-width: 1px;
      width: auto;
      flex: none;
    }
  }

  .ant-card-head {
    background-color: #e9ebec;
    max-width: 100%;
  }

  .ant-card-body {
    max-width: 100%;
  }

  .ant-card-head-title {
    font-size: 1.4em;
    font-weight: bold;
  }

  .ant-tabs-bar {
    margin-bottom: 0;
  }

  .ant-card-extra {
    button:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.mat-grid-tile figure.mat-figure {
  display: flex;
  flex-direction: row !important;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mat-tab-group {
  display: block;
  flex-direction: column;
  flex: 1 0 100%;
}

.canvas-wrapper {
  display: block;
  position: relative;

  canvas:not(.chartjs-render-monitor)+figure {
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;

    &:after {
      content: 'N/A';
      font-size: 200px;
      position: absolute;
      color: #f9fafb;
      text-align: center;
      width: 100%;
      left: 0;
    }
  }

  app-table+canvas+figure {
    &:after {
      display: none;
    }
  }
}

.vertical-divider {
  width: 1px;
  margin: 0 40px;
  background: #ddd;
}

.expand-card+* {
  margin-left: 15px;
}

span.explainer {
  //background: #fffaa05e; //#fffaa0;
  padding: 2px 3px;
  border-radius: 4px;
  margin-left: 6px;
  font-size: 0.9em;
  color: #4385f4;
  font-weight: bold;
  /*
    greenish
        color: #00b768;
    padding: 2px 3px;
    border-radius: 4px;
    margin-left: 6px;
    font-size: 0.9em;
    float: right;
    */
}

td:hover {
  span.explainer {
    text-decoration: underline;
  }
}

.vertical-align-top {
  table {
    display: flex;
  }

  tr {
    vertical-align: top;
    display: block;
    margin-bottom: 15px;
  }
}

.split-chart-screen {
  .canvas-wrapper+div {
    table {
      max-height: none;
      box-shadow: none;
      display: table;
      width: 100%;
    }
  }
}

[klass*='DeclinedOffersAggregatedByLineOfBusiness'] {
  .canvas-wrapper+div {
    table {

      tr:first-child,
      tr.needs_extra_space+tr:not(.needs_extra_space) {
        background: #f6f6f6;
      }

      tr.needs_extra_space+tr:not(.needs_extra_space) {
        border-top: 2px dashed;
      }
    }
  }
}

.canvas-wrapper+div {
  table {
    td {
      width: 100%;
    }
  }
}

.split-chart-screen {
  app-horizontal-bar-chart {
    display: flex;
    align-items: unset;
    flex-direction: row;
  }

  .canvas-wrapper {
    margin-right: 30px;

    &+div {
      hr {
        display: none;
      }
    }
  }
}

.ant-spin-blur {
  opacity: 0.1;
}

app-progress-indicator {
  position: fixed;
  z-index: 200;
  width: calc(100vw - #{$sidebar-width});
  right: 0;
  bottom: 0;
  background: $sidebar-bg;
  color: white;
  //box-shadow: $progress-parent-box-shadow;

  .nz-progress-wrap {
    padding: 4px 8px 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 200;

    &.isHidden {
      visibility: hidden;
      opacity: 0;
      transition-delay: 800ms;
      display: none;
    }

    >div {
      font-size: 20px;

      .ant-progress-text {
        color: white;
      }

      .ant-progress-text .anticon {
        color: #52c41a;
      }

      >span {
        font-size: 0.8em;
        padding-left: 10px;
        padding-right: 15px;
        line-height: 1;
        position: relative;
        display: inline-block;
        color: white;
      }

      .ant-progress-line {
        top: -1px;
        width: calc(100vw - calc(120px + #{$sidebar-width}));
      }

      .ant-progress-bg {
        background-color: #52c41a;
      }

      .ant-progress-success-bg {
        background-color: #52c41a;
      }
    }
  }
}

.ant-tooltip {
  max-width: 270px;

  .ant-tooltip-inner {
    word-break: normal;
    font-size: 17px;
  }
}

app-trigger {
  position: absolute;
  top: 2em;
  right: 23px;
}

app-currency {
  position: absolute;
  top: 80px;
  right: 23px;

  .ant-select {
    min-width: 140px !important;

    .ant-select-selector {
      background: transparent !important;
      color: white !important;
    }

    span,
    .ant-select-selection-placeholder {
      color: white !important;
    }

    .ant-select-clear {
      opacity: 0 !important;
    }
  }
}

.ant-calendar-picker-clear,
.ant-select-selection__clear {
  right: 13px !important;
  font-size: 17px !important;
}

.animatecss {
  animation-duration: 1s;
}

.carto-layers {
  .layer-checkboxes {
    .ant-col-24 {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

.ant-select-dropdown-menu-item-group-title {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.ant-select-dropdown-menu-item-group-title {
  color: black;
  font-size: 15px;
  background: white;
  box-shadow: 0 6px 6px -6px #AAA;
  margin: 10px 0 5px;
  font-weight: bold;
  overflow-x: auto;
  text-overflow: unset;
  overflow: auto;
  white-space: pre-wrap;
  height: auto;
  line-height: inherit;
  padding: 6px 20px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.long-first-td {
  tr {

    td:first-child,
    th:first-child {
      white-space: nowrap !important;
      text-overflow: unset !important;
      max-width: 300px !important;
      min-width: 300px !important;
      overflow-x: auto;
    }
  }
}

.ant-alert-message span strong {
  display: inline-block;
  border: 1px dashed #85d496;
  border-radius: 3px;
  padding: 2px 5px;
  margin-bottom: 8px;
}

.t-bold {
  font-weight: bold
}

.custom-legend {
  //border: 1px solid #DDD;
  border-radius: 2px;
  padding: 25px 5px 10px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  >div {
    display: inline-flex;
    flex-direction: column;
  }
}


.legend-categ {
  width: 80px;
  position: relative;
  display: inline-block;
  margin: 5px;

  &.long {
    width: 220px !important;
  }
}

.legend-color {
  width: 50px !important;
  position: relative;
  margin: 5px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #DDD;
  font-weight: bold;

  &.long {
    width: 220px !important;
  }
}

.gmruler-label {
  position: absolute;
  padding: .2em .6em .3em;
  cursor: pointer;
  color: #fff;
  background-color: #777;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.mr-50 {
  margin-right: 50px;
}

// allow full room
app-line-chart[klass*="PremiumVsSIvsLoBScatterPlot"] {
  width: 100%;
}