<ng-template #indicatorTemplate>
    <i nz-icon
       [ngStyle]="{'color': color, 'min-height.px': minHeight}"
       nzType="loading"
       style="font-size: 24px;"></i>
</ng-template>
<nz-spin nzSimple
         [nzIndicator]="indicatorTemplate"> </nz-spin>