<nz-spin
  nzTip="Working..."
  [nzSpinning]="isLoading"
  [nzSize]="'large'"
>
  <div
    class="canvas-wrapper"
    inViewport
    [ngClass]="{
      'no-horizontal-shadow': klass.includes('address_based')
    }"
  >
    <input
      type="hidden"
      class="prettifiedCsvInput"
      id="{{ klass }}"
      value="{{ csvInput }}"
    />
    <input
      type="hidden"
      class="rawCsvInput"
      id="{{ klass }}_raw"
      value="{{ rawCsvInput }}"
    />
    <input
      type="hidden"
      id="originalQuery{{ klass }}"
      value="{{ originalQuery }}"
    />
    <ng-container *ngIf="displayWarning">
      <nz-alert
        nzType="error"
        nzMessage="Error"
        nzDescription="Both 'Line of Business' and 'Industry' filters need to be selected."
        nzShowIcon
      ></nz-alert>
    </ng-container>
    <ng-container *ngIf="!displayWarning">
      <app-table
        (click)="copyToClipBoard()"
        csvInput="{{ csvInput }}"
        [cssClasses]="extraClassesToUse()"
        klass="{{ klass }}"
        pageSize="{{ pageSize }}"
        customEmptyishInfoNotice="{{ emptyishInfoNotice }}"
      >
      </app-table>
    </ng-container>

    <ng-container *ngIf="klass.includes('Activity') && !klass.includes('NoCanvas')">
      <canvas
        [ngClass]="{ hidden: displayWarning }"
        #canvas
        class="move-freely"
      ></canvas>
    </ng-container>


    <button
      *ngIf="dataHashCSV && klass.includes('noquery')"
      class="dataHashCSV-btn"
      nz-button
      (click)="downloadDatahashCsv($event)"
      nzType="primary"
    >
      <i
        nz-icon
        nzType="arrow-down"
        nzTheme="outline"
      ></i>Underlying Data .CSV
    </button>

    <ng-container *ngIf="
      (klass.includes('address_based') || klass.includes('AggregatedAddresses'))
      && !klass.includes('RIM')">
      <app-table
        *ngIf="additionalTableInput"
        csvInput="{{ additionalTableInput }}"
        klass="{{ noquery }}"
        hidePagination="true"
        customEmptyishInfoNotice="null"
        pageSize="{{pageSize}}"
      ></app-table>

      <button
        *ngIf="dataHashCSV"
        class="dataHashCSV-btn"
        nz-button
        (click)="downloadDatahashCsv($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="arrow-down"
          nzTheme="outline"
        ></i>Underlying Data .CSV
      </button>

      <button
        *ngIf="additionalDataHashCSV"
        class="additionalDataHashCSV-btn"
        nz-button
        (click)="downloadAdditionalDatahashCsv($event)"
        nzType="primary"
      >
        <i
          nz-icon
          nzType="arrow-down"
          nzTheme="outline"
        ></i>Additional Data .CSV
      </button>

      <br /><br />

      <div
        class="scatterplot-info-panel"
        *ngIf="jsonPanelInput"
      >
        <section>
          <button
            nz-button
            (click)="jsonPanelInput = null"
            nzType="primary"
            nzSize="small"
            nzShape="circle"
          >
            <i
              nz-icon
              nzType="close"
              nzTheme="outline"
            ></i>
          </button>
          <div [innerHTML]="jsonPanelInput"></div>
        </section>
      </div>

      <app-canvas-drawing
        *ngIf="chartType === 'scatter' && !klass.includes('IndividualLocations')"
        [klass]="klass"
        [canvas_to_draw]="canvas"
        [clientReportCsv]="downloadableTableInput"
      ></app-canvas-drawing>

      <div
        class="nz-switch-group"
        *ngIf="klass.includes('ScorePerPML') && chartType === 'scatter'"
      >
        <nz-switch
          [(ngModel)]="hideTrendlines"
          class="relative"
          nzCheckedChildren="Hide trendlines"
          nzUnCheckedChildren="Show trendlines"
        ></nz-switch>

        <nz-switch
          class="relative"
          [(ngModel)]="level3only"
          nzCheckedChildren="Only Level3"
          nzUnCheckedChildren="All  Levels"
        ></nz-switch>
      </div>

      <nz-switch
        *ngIf="_drawnChart && REM_AGGS_ONLY_KEYS.includes(klass)"
        class="y-scales-switch"
        [hidden]="chartType === 'scatter' || displayWarning"
        [(ngModel)]="yScalesTypeIsLinear"
        nzCheckedChildren="Linear Scale"
        nzUnCheckedChildren="Logarithmic Scale"
        (ngModelChange)="switchToAndFromLogarithmicYScales()"
      ></nz-switch>

      <canvas
        [ngClass]="{
          hidden: displayWarning,
          is_score_matrix: klass.includes('ScorePerPML')
        }"
        #canvas
        class="move-freely"
      ></canvas>
    </ng-container>

    <ng-container *ngIf="
        !klass.includes('Activity') &&
        kanvas !== null &&
        !klass.includes('address_based') &&
        !klass.includes('AggregatedAddresses') &&
        !klass.includes('RIM') &&
        !klass.includes('ESG') &&
        !klass.includes('NoCanvas')
      ">
      <canvas
        #canvas
        [ngClass]="{ hidden: displayWarning }"
        class="move-freely"
      ></canvas>
    </ng-container>

    <figure
      [hidden]="displayWarning || !klass.includes('Activity')"
      class="static-placeholder"
    ></figure>
  </div>
  <div
    *ngIf="legendMap"
    [innerHTML]="legendMap"
  ></div>
</nz-spin>