@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.canvas-wrapper {
  //display: flex;
  display: block; //overflow-x: hidden;
  min-height: 255px;

  app-table {
    display: block;
    position: relative;
    width: 100%;
    max-width: none;

    // The "there-is-more" shadows interfere with pagination because they overlay the whole table
    // so let's remove them for now.
    //
    // &:before {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   height: 100%;
    //   width: 50px;
    //   background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 100%);
    //   background-image: linear-gradient(90deg, transparent, white);
    //   z-index: 2;
    // }

  }

  app-table~app-table {
    padding-bottom: 40px;
    margin-bottom: 40px;
    padding: 40px;
    background: #f7f7f7;
  }

  .nz-switch-group {
    position: absolute;
    right: 0;
    margin-top: 25px;
    background: white;

    nz-switch {
      margin-left: 8px;
    }
  }

  nz-switch {
    &:not(.relative) {
      position: absolute;
      right: 0;
      margin-top: 25px;
      background: white;
    }

    &.y-scales-switch {
      margin-top: -20px;
      opacity: 0.2;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    .ant-switch {
      height: auto;
      background-color: $sidebar-bg;
    }

    .ant-switch-checked {
      background-color: $blue;
    }

    .ant-switch:after,
    .ant-switch:before {
      margin: 5px;
    }

    .ant-switch-checked:after {
      margin: 5px -5px !important;
    }

    .ant-switch-inner {

      font-size: 16px;
    }

  }

  // no padding & margin because it messes with event.clientX when drawing
  app-canvas-drawing+canvas {
    margin: 0 !important;
    padding: 0 !important;
  }

  canvas {
    &:not(.move-freely) {
      max-height: 350px;
      max-width: 650px;
      vertical-align: middle;
      margin: 20px 30px 0;

      &.mw-800 {
        max-width: 800px;
      }

      &.mw-1000 {
        max-width: 1000px;
      }
    }

    &.move-freely:not(.has-content) {
      //display: none !important;
    }

    &.move-freely[style*='display: block'] {
      // display block will be added after the canvas has been populated
      margin-top: 30px;
      border-top: 2px dashed #ddd;
      //padding-bottom: 50px;
      border-top-style: dashed;
      margin-bottom: 20px;
      background: transparent;

      &:not(.for_drawing) {
        background: white;
        max-height: 45vh;

        &.is_score_matrix {
          // UDGB-19 the score matrix canvases especially need to have a min height
          min-height: 640px;
          max-height: css-max(640px, 45vh);
        }
      }

      &:not(:only-child) {
        margin-top: 40px;
      }
    }

    &.pie,
    &.bar {
      max-height: 450px;
    }
  }

  canvas~canvas {
    border: none !important;
    position: absolute;
    bottom: 0; // no padding & margin because it messes with event.clientX when drawing
    padding: 0 !important;
    margin: 0 !important;
  }

  .hidden {
    display: none;
  }

  &.no-horizontal-shadow {
    app-table {
      &:before {
        display: none;
      }
    }
  }

  .scatterplot-info-panel,
  .drawing {
    position: absolute;
    white-space: pre-wrap;
    z-index: 2;
    background: white;
    padding: 15px;
    padding: 10px;
    border: 1px solid $blue;
    border-radius: 5px;
    box-shadow: 0 3px 17px -6px #aaa;
    max-height: 350px;
    overflow-y: scroll;
    max-width: 480px;
    overflow-x: auto;
    margin-top: 0px;
  }

  .drawing {
    left: 0;
    overflow: hidden;
  }

  .scatterplot-info-panel {
    right: 0px;
    overflow: hidden;

    section {
      position: relative;
      max-height: 330px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;

      &+div {
        overflow-y: scroll;
        height: 330px;
      }
    }
  }

  .client-report {
    // position: absolute;
    // /* left: calc(50% - 105px); */
    // padding: 10px 10px 10px 20px;
    // left: 0;
    // margin-top: 90px;
    // background: white;
    // z-index: 3;
    position: absolute;
    padding: 0;
    left: 0;
    margin-top: -60px;
    background: white;
    z-index: 3;
  }
}

app-horizontal-bar-chart {
  canvas.move-freely {
    max-height: 600px;
  }
}

// hide the canvas -- these 2 charts don't need a chart -- table only
[klass*="AggregatedGroupedPremiumPerAvgRiskClassPerPeril"],
[klass*="AggregatedTSIPerConstructionMaterials_location_based_histogram_chart"] {
  canvas.move-freely {
    display: none;
  }
}

[klass*="PerRecommendationKinds"] {
  canvas.move-freely {
    max-height: 500px;
    border-top: none !important;
    padding-top: 20px !important;
    margin-top: 0 !important;
  }
}


[klass*="GrossRiskProfile_colored_histogram_chart"] {
  max-width: 100%;
  overflow-y: auto;
  max-height: 60vh;
}

#originalQueryGrossRiskProfile_colored_histogram_chart {
  &+app-table {
    .ant-table-body {
      max-height: 55vh !important;
      @include scrollShadows();
    }

    nz-pagination {
      display: none !important;
    }

    &+canvas {
      display: none !important;
    }
  }
}

.dataHashCSV-btn,
.additionalDataHashCSV-btn {
  position: absolute;
  margin-top: -40px;
}

.additionalDataHashCSV-btn {
  margin-left: 210px;
  margin-top: 23px;
}

app-table+.dataHashCSV-btn {
  margin-top: 0;
  top: 810px;
}

[klass*="PerRecommendationKinds"] {
  .dataHashCSV-btn {
    top: 280px;
    bottom: initial;
  }
}

[klass*="noquzery"] .canvas-wrapper {
  height: 145px;
  min-height: 1px;

  app-table+.dataHashCSV-btn {
    position: absolute;
    top: -74px;
    right: 95px;
  }
}

// chart tooltip label zindex fix
canvas#race {
  position: relative;
  z-index: 1;
}

[klass*="PremiumVsSIvsLoBScatterPlot"] .canvas-wrapper canvas {
  max-height: 400px;
}

span.align-right {
  text-align: right !important;
  width: 100%;
  display: inline-block;
}

[klass*="RIM_"] {
  &+app-table {
    .ant-table-body {
      max-height: 55vh !important;
      @include scrollShadows();
    }
  }
}