@import '../../assets/scss/variables';

.text-align-center {
    text-align: center;
}

.spinning-overlay {
    position: fixed;
    left: $sidebar-width;
    top: 0;
    width: calc(100% - #{$sidebar-width});
    height: 100vh;
    background: rgba(255, 255, 255, 0.73);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out !important;
}


.Spinner-svg {
    position: relative;
    color: $sidebar-bg;
    display: -ms-flexbox;
    display: flex;
    animation: SpinnerAnimationShow 250ms normal ease, SpinnerAnimationRotation 0.6s linear infinite !important;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transform-origin: 50% 50%;
    width: 34px;
    height: 34px;
}

/** # Spinner ~ Animations **/

@keyframes SpinnerAnimationShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes SpinnerAnimationRotation {
    100% {
        transform: rotate(360deg);
    }
}