@import '../../../assets/scss/mixins';

.flex-column .ngx-charts-outer {
    flex-direction: column;
    display: flex;
    max-width: none;
    width: 100% !important;
}

.flex-column .chart-legend {
    max-width: none;
    width: 100% !important;
}

.flex-column .chart-legend>div {
    width: 100% !important;
}

.flex-column .legend-labels {
    display: flex !important;
    flex-wrap: wrap !important;
}

.canvas-wrapper+div {
    hr {
        display: none;
    }

    table {
        font-size: 16px;
        max-height: 550px;
        overflow-y: scroll;
        display: block;

        @include scrollShadows();
        // box-shadow: inset 0 -10px 15px -7px #ddd;

        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        th:first-child {
            min-width: 40px;
            text-align: center;
        }

        td:nth-last-child(2):not(:nth-child(1)),
        td:last-child {
            min-width: 80px;
            text-align: right;
        }
    }
}

[class*='cbn-card']:not(.no-table-overflow) .canvas-wrapper+div {
    table {

        th,
        td {
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
        }
    }
}