<div class="canvas-wrapper">
  <input type="hidden"
         id="{{ klass }}"
         value="{{ csvInput }}" />
  <canvas #canvas
          attr.width="{{ width }}"
          class="move-freely"
          attr.height="{{ height }}"></canvas>
  <figure class="static-placeholder"
          [hidden]="!klass.includes('Activity')"></figure>
</div>
<div *ngIf="legendMap"
     [innerHTML]="legendMap"></div>
