@import '../../../../../assets/scss/variables';

button {
    position: fixed;
    right: $floatingBtnRight;

    @media (min-width: 1800px) {
        right: $floatingBtnRightFurther;
    }

    top: calc(50% + 50px);

    opacity: 0.4;

    &:hover,
    &:focus {
        opacity: 1;
    }
}