<button nz-button
        nzType="default"
        nzTooltipTitle="Collapse all open panels"
        nz-tooltip
        nzShape="circle"
        nzSize="large"
        nzTooltipPlacement="left"
        (click)="closeParentPanels()">
    <i nz-icon
       nzType="compress"></i>
</button>