::ng-deep {
    nz-select[nzplaceholder="Currency"] .ant-select-arrow {
        color: white !important;
    }


    nz-select[nzplaceholder="Currency"] .ant-select-selection-placeholder {
        opacity: 1 !important;
    }
}