<section class="currency">
  <nz-select
    style="width: 100%; min-width: 200px"
    nzMode="default"
    nzSize="large"
    nzPlaceHolder="Currency"
    [nzShowSearch]="false"
    [(ngModel)]="listOfSelectedValues"
    [nzMaxMultipleCount]="1"
    (ngModelChange)="onChange($event)"
    nzAllowClear
  >
    <nz-option *ngFor="let option of listOfOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
  </nz-select>
</section>
