.flex-column .ngx-charts-outer {
    flex-direction: column;
    display: flex;
}

.flex-column .chart-legend {
    max-width: 350px;
    width: 100% !important;
}

.flex-column .chart-legend > div {
    width: 100% !important;
}

.flex-column .legend-labels {
    display: flex !important;
    flex-wrap: wrap !important;
}