<section class="map-controls">
  <input
    type="text"
    #autofill
    placeholder="Enter a place..."
    nz-input
    nzSize="large"
  />
  <span class="address-label">Address</span>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    type="button"
    #refreshMapButton
    id="refreshMapButton"
    (click)="refreshMap()"
  >
    <i
      nz-icon
      nzType="sync"
      nzTheme="outline"
    ></i>Refresh map
  </button>

  <app-geam-layers></app-geam-layers>

  <span id="tooltip"></span>
  <app-hotspot
    [agmMap]="agmMap"
    [refreshMapBtn]="refreshMapButton"
    [onlyShowFocusedHotspot]="onlyShowFocusedHotspot"
    (hotspotDivsChanged)="onHotspotDivsChanged($event)"
  ></app-hotspot>

  <app-ruler [agmMap]="agmMap"></app-ruler>

  <div class="drawing">
    <button
      nz-button
      nzType="default"
      nzSize="large"
      type="button"
      class="circle"
      #circle
    >&nbsp;</button>
    <button
      nz-button
      nzType="default"
      nzSize="large"
      type="button"
      class="polygon"
      #polygon
    >&nbsp;</button>
    <button
      nz-button
      nzType="default"
      nzSize="large"
      type="button"
      class="trash"
      #trash
    >&nbsp;</button>
    <button
      nz-button
      nzType="default"
      nzSize="large"
      type="button"
      class="done"
      #done
    >
      <strong>Done drawing</strong>
    </button>
  </div>

  <div class="map-checkboxes">
    <div
      *ngIf="canFilterByAddressIDs"
      class="filter-by-hotspot-ids"
      nzTooltipTitle="Whether to exluce addresses   'Refresh map' required after toggling!"
      nzTooltipPlacement="right"
      nz-tooltip
    >
      <label
        nz-checkbox
        [(ngModel)]="shouldFilterByAddressIDs"
        (ngModelChange)="shouldFilterByAddressIDsChanged($event)"
      >Hotspot Members Only</label>
    </div>
    <div
      *ngIf="canFilterByAddressIDs && isSomeHotspotFocused()"
      class="hide-unfocused-clusters"
      nzTooltipTitle="Manage visibility of non-focused clusters. No refresh needed after toggling."
      nzTooltipPlacement="right"
      nz-tooltip
    >
      <label
        nz-checkbox
        [(ngModel)]="onlyShowFocusedHotspot"
      >Focused Hotspots Only</label>
    </div>
  </div>
</section>

<nz-spin
  nzTip="Working..."
  [nzSpinning]="isLoading"
  [nzSize]="'large'"
>
  <google-map
    (mapInitialized)="onMapReady($event)"
    [center]="center"
    [zoom]="zoom"
    [options]="{zoomControl: true}"
    #agmMap
  >
    <app-marker-cluster
      *ngFor="let cluster of clusters"
      [lat]="cluster.lat"
      [lng]="cluster.lng"
      [size]="cluster.size"
      [map]="cluster.map"
      [co]="cluster"
      [position]="cluster.position"
    >
    </app-marker-cluster>

    <app-map-legends></app-map-legends>
  </google-map>
</nz-spin>