<button
  nz-button
  nzType="default"
  nzSize="large"
  nz-popover
  nzPopoverTrigger="click"
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="bottomLeft"
  (nzPopoverVisibleChange)="onHotspotPopoverVisibleChange($event)"
  id="hotspotTrigger"
>
  <i
    nz-icon
    class="anticon hotspot-icon"
  ></i>Hotspots&nbsp;<span [innerHTML]="stats"></span>
</button>
<ng-template #contentTemplate>
  <section class="hotspots-wrapper">
    <nz-spin
      nzTip="Calculating..."
      [nzSpinning]="calculating"
    >

      <div class="controls">
        <nz-tabset
          class="wrapper"
          [nzSelectedIndex]="tabsetSelectedIndex"
        >
          <nz-tab
            nzTitle="TSI Mode"
            (nzClick)="tabChanged(_CLUSTERING_MODES.TSI)"
          >
            <app-slider
              klass="HotspotTotalTSI"
              heading="Total Hotspot Sum Insured"
              kind="double"
              min="0"
              max="100000000000"
              unit="currency"
              step="100000000"
              standalone="true"
              [defaults]="defaults(_CLUSTERING_MODES.TSI)"
              (emitChange)="updateTSIrange($event)"
            ></app-slider>
          </nz-tab>

          <ng-template #perilLimitModeTitle>
            Total Peril Limit Mode&nbsp;<nz-tag [nzColor]="'success'">(NEW)</nz-tag>
          </ng-template>

          <nz-tab
            [nzTitle]="perilLimitModeTitle"
            (nzClick)="tabChanged(_CLUSTERING_MODES.PERIL_LIMIT)"
          >
            <div *ngIf="validLocationPeril">
              <ng-template #msg>
                You've selected the Location Peril <nz-tag [nzColor]="'#3ca308'">{{validLocationPeril}}</nz-tag>. If
                there's no available peril's limit value, the system will default to the location-based TSI.
              </ng-template>
              <nz-alert
                nzType="success"
                [nzMessage]="msg"
                nzShowIcon
              >
              </nz-alert>
            </div>

            <div *ngIf="!validLocationPeril">
              <ng-template #msg>
                No <nz-tag [nzColor]="'error'">Location Peril</nz-tag> detected. Please select a peril (plus
                its risk classes) in the filters and click 'refresh'.
              </ng-template>
              <nz-alert
                nzType="error"
                [nzMessage]="msg"
                nzShowIcon
              >
              </nz-alert>
            </div>

            <app-slider
              klass="HotspotPerilLimitSI"
              heading="Total Peril Limit Sum"
              kind="double"
              min="0"
              max="100000000000"
              unit="currency"
              step="100000000"
              standalone="true"
              [isDisabled]="isDisabled"
              [defaults]="defaults(_CLUSTERING_MODES.PERIL_LIMIT)"
              (emitChange)="updatePerilLimitRange($event)"
            ></app-slider>
          </nz-tab>

        </nz-tabset>

        <section class="algorithm">
          <h3>Clustering Algorithm</h3>
          <nz-radio-group
            [(ngModel)]="_algorithm"
            [nzDisabled]="isDisabled"
            (ngModelChange)="updateSelectedAlgorithm($event)"
          >
            <label
              *ngFor="let group of clustering_algorithms"
              nz-radio-button
              nzValue="{{ group.name }}"
              nzSize="medium"
            >
              <ng-template #hint>
                <span [innerHTML]="(group.hint | extractAndWrapLinks)"></span>
              </ng-template>

              <span>{{ group.name }} <i
                  nz-icon
                  nzType="question-circle"
                  nz-tooltip
                  [nzTooltipTitle]="hint"
                  nzTheme="fill"
                ></i></span>
            </label>
          </nz-radio-group>
        </section>

        <button
          nz-button
          nzDanger
          nzType="primary"
          nzSize="large"
          type="button"
          class="reset-btn"
          [disabled]="!(hotspotDivs && hotspotDivs.length)"
          (click)="unsetAll()"
        >
          Reset
        </button>

        <nz-input-group
          *ngIf="_algorithm !== 'K_MEANS'"
          nzAddOnBefore="Radius ="
          nzAddOnAfter="m"
          nzSize="large"
        >
          <input
            type="text"
            nz-input
            [(ngModel)]="_radius"
            (ngModelChange)="onChange($event)"
            placeholder="1000"
            #radiusInput
            [disabled]="isDisabled"
          />
        </nz-input-group>

        <button
          nz-button
          nzType="primary"
          nzSize="large"
          type="button"
          [disabled]="!radius || radius <= 0 || isDisabled"
          (click)="go()"
        >
          Go!
        </button>
      </div>

      <div
        *ngIf="showNegativeFeedback"
        class="negative-feedback"
      >
        <br />
        <nz-alert
          nzType="success"
          nzMessage="{{ negativeFeedback }}"
          nzShowIcon
        ></nz-alert>
      </div>

      <div
        class="actual-hotspots"
        *ngIf="hotspotDivs && hotspotDivs.length"
      >
        <div
          class="hotspot"
          *ngFor="let hotspot of hotspotDivs; let i = index"
          [ngClass]='{ selected: hotspot.selected }'
          (click)="goToHotspot(i)"
        >
          <span class="index">#{{ hotspot.index }}</span>

          <ng-container *ngIf="hotspot.percentage_of_those_with_peril_limit">
            <span
              class="peril_limit_value"
              nz-tooltip
              nzTooltipTitle="The ratio of addresses which had a valid peril limit value and those that defaulted to TSI per location."
            ><i
                nz-icon
                nzType="funnel-plot"
                nzTheme="fill"
              ></i>{{hotspot.percentage_of_those_with_peril_limit}}</span>
          </ng-container>

          <span class="count"><i
              nz-icon
              nzType="pushpin"
              nzTheme="fill"
            ></i>{{ hotspot.count }}
          </span>
          <span class="tsi">{{ hotspot.tsi_short }}</span>
          <span class="countries">{{ hotspot.countries }}</span>
        </div>
      </div>
    </nz-spin>
  </section>
</ng-template>

<ng-template #DBCSAN>
  <i
    nz-icon
    nzType="info"
    style="margin-right: 8px"
  ></i>
  <a
    href="https://en.wikipedia.org/wiki/DBSCAN"
    target="_blank"
  >Density-based spatial clustering of applications with noise (DBSCAN)</a>
</ng-template>

<ng-template #K_MEANS>
  <i
    nz-icon
    nzType="info"
    style="margin-right: 8px"
  ></i>
  <a
    href="https://en.wikipedia.org/wiki/K-means_clustering"
    target="_blank"
  >k-means clustering</a>
</ng-template>