@import '../../../assets/scss/mixins';

.ant-popover-inner-content {
  max-height: 700px;
}

.hotspots-wrapper {
  max-width: 500px;
}

.controls {
  display: flex;
  flex-wrap: wrap;

  app-slider,
  .algorithm,
  .wrapper {
    flex: 1 0 100%;

    &:not(app-slider):not(.wrapper),
    .ant-tabs-tabpane {
      margin: 0 0 16px;
      border: 1px solid #d9dad9;
      padding: 12px;
      border-radius: 4px;
      background: #fafafa;
    }

    .ant-tabs-tabpane {
      border-radius: 0px 0px 4px 4px;
      border-top: 1px solid transparent;

      nz-alert {
        margin-bottom: 10px;

        nz-tag {
          padding: 2px 4px;
          border-radius: 4px;

          &.ant-tag-error {
            background: #f5222d;
            color: white;
          }
        }
      }
    }

    & app-slider {
      margin-top: 0;
      margin-bottom: 0;
    }

    nz-tabs-nav.ant-tabs-nav {
      margin-bottom: 0;

      &:before {
        border-bottom: 1px solid #d9dad9;
      }
    }
  }

  app-slider {

    section.surround-by-inputs .ant-input-number,
    section.surround-by-inputs nz-slider {
      flex: 1 0 30% !important;
    }
  }

  .reset-btn {
    flex: 1 0 15%;
    margin-right: 12px;
  }

  .ant-input-group-wrapper {
    flex: 1 0 65%;
    width: initial;

    &+button {
      margin-left: 12px;
    }
  }
}

$hotspot_red: #fb3333;
$hotspot_lightgray: #CCC;
$hotspot_lightest_gray: #fafafa;

.actual-hotspots {
  max-height: 250px;
  margin-top: 12px;
  padding-top: 4px;
  border-top: 2px dashed #BBB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 260px;

  @include scrollShadows();

  .hotspot {
    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 4px;
    margin: 2%;
    flex: 1 0 29%;
    cursor: pointer;
    position: relative;


    &.selected {
      background: $hotspot_red;
      border: 1px solid $hotspot_red;

      span {
        color: white;

        &.count,
        &.peril_limit_value,
        &.index {
          color: white;
        }
      }
    }

    &:not(.selected) {
      background: transparent;
      border: 1px solid $hotspot_red;
    }

    &:hover,
    &:focus {

      &:not(.selected) {

        background-color: rgba($color:$hotspot_red, $alpha: 0.3);

        span.count,
        span.peril_limit_value,
        span.index {
          color: $hotspot_red;
        }
      }
    }

    span.index {
      color: $hotspot_lightgray;
    }

    span.peril_limit_value {
      position: absolute;
      top: 8px;
      right: 44px;
      display: flex;
      font-weight: bold;
      vertical-align: middle;
      align-items: center;
      color: $hotspot_lightgray;
      letter-spacing: -0.1em;
    }

    span.count {
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      font-weight: bold;
      vertical-align: middle;
      align-items: center;
      letter-spacing: -0.1em;
      color: $hotspot_red;

      span {
        display: inline;
        position: relative;
        vertical-align: middle;
      }
    }

    span.tsi {
      font-weight: bold;
      font-size: 1.3em;
      white-space: nowrap;
      overflow-x: hidden;
    }

    span.countries {
      font-size: 0.8em;
      word-break: break-word;
    }


  }
}

button#hotspotTrigger {
  margin-left: 20px;

  .hotspot-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='64 64 896 896' fill='currentColor' width='1em' height='1em' data-icon='deployment-unit' aria-hidden='true'%3E%3Cpath d='M888.3 693.2c-42.5-24.6-94.3-18-129.2 12.8l-53-30.7V523.6c0-15.7-8.4-30.3-22-38.1l-136-78.3v-67.1c44.2-15 76-56.8 76-106.1 0-61.9-50.1-112-112-112s-112 50.1-112 112c0 49.3 31.8 91.1 76 106.1v67.1l-136 78.3c-13.6 7.8-22 22.4-22 38.1v151.6l-53 30.7c-34.9-30.8-86.8-37.4-129.2-12.8-53.5 31-71.7 99.4-41 152.9 30.8 53.5 98.9 71.9 152.2 41 42.5-24.6 62.7-73 53.6-118.8l48.7-28.3 140.6 81c6.8 3.9 14.4 5.9 22 5.9s15.2-2 22-5.9L674.5 740l48.7 28.3c-9.1 45.7 11.2 94.2 53.6 118.8 53.3 30.9 121.5 12.6 152.2-41 30.8-53.6 12.6-122-40.7-152.9zm-673 138.4a47.6 47.6 0 0 1-65.2-17.6c-13.2-22.9-5.4-52.3 17.5-65.5a47.6 47.6 0 0 1 65.2 17.6c13.2 22.9 5.4 52.3-17.5 65.5zM522 463.8zM464 234a48.01 48.01 0 0 1 96 0 48.01 48.01 0 0 1-96 0zm170 446.2l-122 70.3-122-70.3V539.8l122-70.3 122 70.3v140.4zm239.9 133.9c-13.2 22.9-42.4 30.8-65.2 17.6-22.8-13.2-30.7-42.6-17.5-65.5s42.4-30.8 65.2-17.6c22.9 13.2 30.7 42.5 17.5 65.5z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    top: -2px;
    position: relative;
    opacity: .6;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  &:focus,
  &:hover {
    .hotspot-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='64 64 896 896' fill='%2340a9ff' width='1em' height='1em' data-icon='deployment-unit' aria-hidden='true'%3E%3Cpath d='M888.3 693.2c-42.5-24.6-94.3-18-129.2 12.8l-53-30.7V523.6c0-15.7-8.4-30.3-22-38.1l-136-78.3v-67.1c44.2-15 76-56.8 76-106.1 0-61.9-50.1-112-112-112s-112 50.1-112 112c0 49.3 31.8 91.1 76 106.1v67.1l-136 78.3c-13.6 7.8-22 22.4-22 38.1v151.6l-53 30.7c-34.9-30.8-86.8-37.4-129.2-12.8-53.5 31-71.7 99.4-41 152.9 30.8 53.5 98.9 71.9 152.2 41 42.5-24.6 62.7-73 53.6-118.8l48.7-28.3 140.6 81c6.8 3.9 14.4 5.9 22 5.9s15.2-2 22-5.9L674.5 740l48.7 28.3c-9.1 45.7 11.2 94.2 53.6 118.8 53.3 30.9 121.5 12.6 152.2-41 30.8-53.6 12.6-122-40.7-152.9zm-673 138.4a47.6 47.6 0 0 1-65.2-17.6c-13.2-22.9-5.4-52.3 17.5-65.5a47.6 47.6 0 0 1 65.2 17.6c13.2 22.9 5.4 52.3-17.5 65.5zM522 463.8zM464 234a48.01 48.01 0 0 1 96 0 48.01 48.01 0 0 1-96 0zm170 446.2l-122 70.3-122-70.3V539.8l122-70.3 122 70.3v140.4zm239.9 133.9c-13.2 22.9-42.4 30.8-65.2 17.6-22.8-13.2-30.7-42.6-17.5-65.5s42.4-30.8 65.2-17.6c22.9 13.2 30.7 42.5 17.5 65.5z'%3E%3C/path%3E%3C/svg%3E");
      opacity: 1;
    }
  }
}