<h3 *ngIf="heading">{{ heading }}<nz-tag
    *ngIf="isNew"
    style="margin-left: 4px"
    [nzColor]="'success'"
  >NEW</nz-tag>
</h3>
<nz-select
  style="width: 100%; min-width: 200px"
  nzMode="{{ isMultiple ? 'multiple' : 'default' }}"
  nzSize="large"
  nzPlaceHolder="{{ placeholder }}"
  nzNotFoundContent="Type something or refresh counts..."
  [nzShowSearch]="true"
  [(ngModel)]="listOfSelectedValues"
  [nzMaxMultipleCount]="30"
  [nzMaxTagCount]="3"
  [nzMaxTagPlaceholder]="tagPlaceHolder"
  (ngModelChange)="onChange($event)"
  nzAllowClear
  [nzDropdownRender]="selectAllTemplate"
>
  <ng-container *ngIf="isGrouped">
    <ng-container *ngFor="let group of listOfOptions">
      <nz-option-group nzLabel="{{ group.group_name }}">
        <ng-container *ngIf="group.options && group.options[0] && group.options[0].customHtmlLabelSuffix">
          <nz-option
            *ngFor="let option of group.options"
            nzCustomContent
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ><span [innerHTML]="option.customHtmlLabelSuffix"></span></nz-option>
        </ng-container>
        <ng-container *ngIf="!group.options.length || !group.options[0].customHtmlLabelSuffix">
          <nz-option
            *ngFor="let option of group.options"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </ng-container>
      </nz-option-group>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!isGrouped">
    <ng-container *ngFor="let option of listOfOptions">
      <nz-option
        *ngIf="option.value && !option.customHtmlLabelSuffix"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
      <nz-option
        *ngIf="option.value && option.customHtmlLabelSuffix"
        nzCustomContent
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ><span [innerHTML]="option.customHtmlLabelSuffix"></span>
      </nz-option>
    </ng-container>
  </ng-container>

  <nz-option
    *ngIf="isLoading"
    nzDisabled
    nzCustomContent
  >
    <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
  </nz-option>

  <ng-template
    #tagPlaceHolder
    let-selectedList
  > + {{ selectedList.length }} more</ng-template>

  <ng-template #selectAllTemplate>
    <ng-container *ngIf="isMultiple && !isGrouped">
      <label
        nz-checkbox
        class="all-columns-selector"
        [(ngModel)]="allColumnsChecked"
        (ngModelChange)="updateAllCheckedValues()"
        [nzIndeterminate]="indeterminateColumns"
      >
        Select all
      </label>
    </ng-container>
  </ng-template>
</nz-select>