@import '../../assets/scss/variables';

.ant-select-dropdown-menu-item-group-list .ant-select-dropdown-menu-item>span {
    //overflow-x: auto;
    display: block;
    max-width: calc(100% - 27px);
    white-space: pre-wrap;
}

span.with_pretty_risk_class {
    display: flex;
    white-space: normal;
    align-items: center;
    padding-right: 20px;
}

$numbers: $fiveRiskClassColors;

@function blend_it($ii) {
    @if ($ii=='3') {
        @return difference;
    }

    @else {
        @return normal;
    }
}

span[class*=risk_class_] {
    position: absolute;
    color: white;
    right: 13px;
    padding: 0 4px;
    border-radius: 2px;
    //box-shadow: -8px 0 6px 2px white;
    z-index: 10;
}

@each $number,
$i in $numbers {
    span.risk_class_#{$number} {
        background: $i;

        span.num_itself {
            color: white;
            mix-blend-mode: blend_it($number)
        }
    }
}

.has-all-columns-selector {}

.all-columns-selector {
    width: 100%;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 -6px 10px -6px #DDD;
    position: relative;
    bottom: 0;
}