pre {
  outline: none;
  padding: 5px;
  margin: 5px;
  background: #FFF;
  color: #444;
}

.string {
  color: #1890ff;
}

.number {
  color: #08c746;
}

.boolean {
  color: #d19a66;
}

.null {
  color: #e700ff;
}

.key {
  color: #737373;
}

.op-10 {
  opacity: 0.1;
}
