.renderjson {
  a {
    text-decoration: none;
  }
  .disclosure {
    color: #08c746;
    font-size: 150%;
  }
  .syntax {
    color: 444;
  }
  .string {
    color: #1890ff;
  }
  .number {
    color: #08c746;
  }
  .boolean {
    color: #d19a66;
  }
  .key {
    color: #737373;
  }
  .keyword {
    color: #444;
  }
  .object.syntax {
    color: #444;
  }
  .array.syntax {
    color: #d19a66;
  }
}
