@import '../scss/mixins';

.json-table {
  overflow-y: scroll;
  max-height: 230px;
  max-width: 340px;
  @include scrollShadows();

  th,
  td {
    font-size: 15px;
    padding: 6px;
    white-space: pre-wrap;
    vertical-align: top;
    border: 1px solid #ddd;
  }
}