$light-gray-bg: #f8f9fa;
$blue: #1890ff;
$pink: #ff4b4b;
$dark-bg: #444;
$sidebar-bg: #001837;
$card-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
0 1px 1px 0 rgba(0, 0, 0, 0.14),
0 2px 1px -1px rgba(0, 0, 0, 0.12);
$map-header-box-shadow: 0 5px 9px -3px #bbb;
$progress-parent-box-shadow: 0 -5px 7px -3px #DDD;

$sidebar-width: 83px;

$fiveRiskClassColors: ('1': #00b050,
    '2': #92d050,
    '3': #ffff00,
    '4': #ffc000,
    '5': #ff0000);

$floatingBtnRight: 5px;
$floatingBtnRightFurther: 40px;